auto
~$*
\#*
.#*
.nfs*
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.nav
*.snm
*.synctex.gz
*.toc

cv.{md,docx,html,json,pdf,tex}
cv-*.{md,docx,html,json,pdf,tex}

/google-scholar.html
/cookies.txt

/all-public.yaml
/empty.yaml
/select-nostartup.yaml
