auto
~$*
\#*
.#*
.~*#
__pycache__
.nfs*
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.nav
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.toc

/cv.md
/cv.docx
/cv.html
/cv.json
/cv.pdf
/cv.tex

/cv-*.md
/cv-*.docx
/cv-*.html
/cv-*.json
/cv-*.pdf
/cv-*.tex

/google-scholar.html
/cookies.txt

/all-public.yaml
/empty.yaml
/select-nostartup.yaml
