### Professional activities: external advisory committees
* **Member**, Scientific Advisory Board. Monarch Initiative, 2022--present.
* **Member**, External Advisory Board, Tri-Agency Grants Management Solution, 2020--present.
* **Member**, Reference group for the Chief Scientist, Ontario Ministry of Research, Innovation, and Science, 2017.

### Professional activities: conference organizer
* **Member**, Organizing Committee, Regulatory and Systems Genomics (RegSys){% if not compact %} Community of Special Interest{% endif %}, Intelligent Systems for Molecular Biology/European Conference on Computational Biology (ISMB/ECCB). {% if not compact %}Videoconference. 26--28 July {% endif %}2021.
{% if compact %}
* **Team Leader**, Program Committee, American Society for Human Genetics (ASHG). 2020. **Member**, 2018--2020.
{% else %}
* **Team Leader**, Program Committee, American Society for Human Genetics (ASHG 2020). Videoconference. 27--30 October 2020.
* **Member**, Program Committee, American Society for Human Genetics (ASHG 2019). Houston, TX. 15--19 October 2019.
* **Member**, Program Committee, American Society for Human Genetics (ASHG 2018). San Diego, CA. 16--20 October 2018.
{% endif %}
* **Member**, Organizing Committee, International Conference on Epigenetics and Bioengineering (ICEB). American Institute of Chemical Engineers. {% if not compact %}San Francisco, CA. 4--6 October {% endif %}2018.
* **Organizer**, Early Career Investigators Meeting on Quantitative Problems in Human Genetics and Health. Banff International Research Station. {% if not compact %}Banff, AB. 10--15 January {% endif %}2016.

### Professional activities: external advisory workshops and panels
* **Invited Participant**, ChatGPT, Generative Artificial Intelligence, and Natural Large Language Models for Accountable Reporting and Use (CANGARU) Guidelines Global Cross-discipline Consensus Survey Delphi Panel, 2023--present.
* **Invited Participant**, Classification Expert Group, Biomedical Image Analysis Challenges (BIAS) Initiative, Medical Image Computing and Computer Assisted Intervention Society, 2021--present.
* **Invited Participant**, Expert Consultation, Shaping AI: Controversies and Closures in Media, Policy, and Research, 2023.
* **Invited Participant**, Transparency and Openness Promotion (TOP) Guidelines for Academic Institutions Panel. Ottawa Hospital Research Institute and Centre for Open Science. 2022.
* **Invited Participant**, Open Science Dashboard Delphi Panel, Ottawa Heart Research Institute. {% if not compact %}14--15 March {% endif %}2022.
* **Invited Participant**, TRIPOD-AI Delphi Panel, TRIPOD Group, 2021--2022.
* **Invited Participant**, National Health Research Summit, {{ cihr }}, 2019.
* **Invited Participant**, Client Experience Workshop and Journey Map Validation, Tri-Agency Grants Management Solution, 2019.
* **Invited Participant**, Ontario Ministry of Research and Innovation workshop: Ontario Open Access: Accelerating Science, 2016.
* **Invited Participant**, National Human Genome Research Institute planning workshop: Planning the future of genomics: foundational research and applications in genomic medicine, 2010.

### Professional activities: session organizer or chair
* "Variable selection for high-dimensional omic data." Joint Statistical Meetings (JSM). {% if not compact %}Toronto, ON. 9 August {% endif %}2023.
* "Regulatory and Systems Genomics (RegSys)". Intelligent Systems for Molecular Biology/European Conference on Computational Biology (ISMB/ECCB). {% if not compact %}Videoconference. 27 July {% endif %}2021.
* "Cell-free DNA: biological and clinical applications". Annual Meeting. American Society for Human Genetics. {% if not compact %}Videoconference. 20 October {% endif %}2021.
* "Plenary abstract session IV". Annual Meeting. American Society for Human Genetics. {% if not compact %}Videoconference. 30 October {% endif %}2020.
* "Late-breaking abstracts". Annual Meeting. American Society for Human Genetics. {% if not compact %}San Diego, CA. 19 October {% endif %}2018.
* "Machine learning". Biological Data Science. Cold Spring Harbor Laboratory. {% if not compact %}Cold Spring Harbor, NY. 8 November {% endif %}2018.
* "Transcriptomics and epigenomics". Probabilistic Modeling in Genomics. Cold Spring Harbor Laboratory. {% if not compact %}Cold Spring Harbor, NY. 5 November {% endif %}2018.
* "Computation and modelling in epigenetics". International Conference on Epigenetics and Bioengineering (ICEB). American Institute of Chemical Engineers. {% if not compact %}San Francisco, CA. 4--6 October {% endif %}2018.
* "Statistical learning for epigenomics data." Joint Statistical Meetings (JSM). {% if not compact %}Vancouver, BC. 31 July {% endif %}2018.
* "Statistics for biopharmaceutical studies". Joint Statistical Meetings (JSM). {% if not compact %}Vancouver, BC. 31 July {% endif %}2018.
* "Data mining in genetics and genomics." Annual Meeting. Institute for Operations Research and the Management Sciences (INFORMS). {% if not compact %}Nashville, TN. 15 November {% endif %}2016.
* "Machine learning." Biological Data Sciences. Cold Spring Harbor Laboratory. {% if not compact %}Cold Spring Harbor, NY. 27 October {% endif %}2016.
* "Big data analytics in genomics." Annual Meeting. Institute for Operations Research and the Management Sciences (INFORMS). {% if not compact %}Philadelphia, PA. 2 November {% endif %}2015.
* "Epigenomics and non-coding genome." Genome Informatics. Cold Spring Harbor Laboratory. {% if not compact %}Cold Spring Harbor, NY. 29 October {% endif %}2015.
* "Genomes and big data - data integration." Fourth Annual Canadian Human and Statistical Genetics Meeting. {% if not compact %}Vancouver, BC. 19 April {% endif %}2015.
* "Genomic and epigenomic signatures in cancer." Epigenetic Mechanisms in Cancer. Structural Genomics Consortium. {% if not compact %}Toronto, ON. 4 June {% endif %}2014.
* "Genome organization and variant detection." Conference on Bioinformatics, Computational Biology and Biomedicine. Association for Computing Machinery. {% if not compact %}Washington, DC. 24 September {% endif %}2013.

### Professional activities: session organizer or chair, local
* "Data Science". Princess Margaret Research Retreat. Princess Margaret Cancer Centre. Niagara-on-the-Lake, ON. {% if not compact %}17 May {% endif %}2019.
* "Core Facilities". Princess Margaret Research Retreat. Princess Margaret Cancer Centre. Niagara-on-the-Lake, ON. {% if not compact %}17 May {% endif %}2018.

### Professional activities: funding review
* **Member**, Predictive Modeling Special Emphasis Panel, National Human Genome Research Institute, {{ nih }}, 2021.
{% if not compact %}* **Member**, College of Reviewers, {{ cihr }}, 2017--present.{% endif %}
* **Member**, Genomics: Systems and Computational Biology Peer Review Committee, {{ cihr }}, 2017--present. **Teleconference member**, 2015.
* **Member**, Project Grant Competition Stage 2 Peer Review Cluster 13, {{ cihr }}, 2017.
* **Member**, Project Grant Competition Stage 1 Peer Review Clusters 5/13/15/25, {{ cihr }}, 2016--2017.
* **Member**, Program Committee, Idea DREAM Challenge, 2016--2017.
* **Member**, Institute Community Support Travel Award Peer Review Committee, Institute for Cancer Research, {{ cihr }}, 2016.
* **Member**, Institute Community Support Travel Award for International Agency for Research on Cancer (IARC) Conference Peer Review Committee, Institute for Cancer Research, {{ cihr }}, 2016.
* **Member**, Review Committee, Collaborative Personalized Cancer Medicine Team Grant, Princess Margaret Cancer Centre, 2015.
* *Ad hoc* external review: United Kingdom Medical Research Council, French Institute for Bioinformatics, {{ nserc }}, Canadian Statistical Sciences Institute, Banff International Research Station.
{# NSERC years: ???, 2019 #}

### Professional activities: manuscript review
* **Academic Editor**, PeerJ, 2017--present.
* **Member**, Editorial Advisory Board, Genome Biology, 2019--present.
* **Affiliate**, bioRxiv, Cold Spring Harbor Laboratory Press, 2015--present.
* **Member**, Program Committee, Meeting on Machine Learning in Computational Biology (MLCB), 2019.
* **Member**, Program Committee, Workshop on Machine Learning in Computational Biology (MLCB), Conference on Neural Information Processing Systems (NIPS), 2017.
* **Member**, Program Committee, Research in Computational Molecular Biology Satellite Workshop on Massively Parallel Sequencing (RECOMB-seq), 2016--2017.
* **Member**, Program Committee, International Joint Conference on Artificial Intelligence (IJCAI), 2015--2016.
* **Member**, Program Committee, Great Lakes Bioinformatics Conference/Canadian Computational Biology Conference (GLBIO/CCBC), 2015--2016.
* **Member**, Program Committee, Research in Computational Molecular Biology (RECOMB), 2014--2015.
* *Ad hoc* review for journals: Nature Methods, Genome Biology, Proceedings of the National Academy of Sciences{% if not compact %} of the United States of America{% endif %}, PLOS Computational Biology, Nucleic Acids Research, Scientific Reports, Bioinformatics, PLoS ONE, BMC Genomics, BMC Bioinformatics, Journal of Machine Learning Research, Database, IEEE Transactions on Computational Biology and Bioinformatics, Artificial Intelligence in Medicine, Computational and Structural Biotechnology Journal.
* *Ad hoc* review for conferences, with refereed proceedings: Intelligent Systems in Molecular Biology/European Conferences on Computational Biology (ISMB/ECCB), Research in Computational Molecular Biology (RECOMB).
{# RECOMB years: ???, 2020 #}
