{% set compact = compact|default(false) %}
{% set annotate = annotate|default(not compact) %} {# annotate publications #}
{% set select = select|default(false) %} {# selected stuff only #}
{% set statusonly = statusonly|default(false) %}
{% set nostartup = nostartup|default(false) %}
{% set private = private|default(false) %}

{% if compact %}
{% set fieldsep %}, {% endset %}
{% set recordsep %}\{% endset %}
{% set dept %}Dept{% endset %}
{% else %}
{% set fieldsep %}\
{% endset %}
{% set recordsep %}{% endset %}
{% set dept %}Department{% endset %}
{% endif %}

{% block everything %}{% endblock %}
