{% set annotate = annotate|default(false) %}
{% extends 'base.md.jinja' %}

{% block everything %}
{% include 'head.md.jinja' %}

## Education

{% include 'education.md.jinja' %}

## Academic, Research and Industrial Experience

{% include 'positions-current.md.jinja' %}
{% include 'positions-prior.md.jinja' %}

{% include 'recognitions.md.jinja' %}

## Publications

{% include 'publications.md.jinja' %}
{% endblock %}
