{% extends 'base.md.jinja' %}

{% block everything %}
{% include 'head.md.jinja' %}

{% if not compact %}
## Current positions
{% endif %}

{% include 'positions-current.md.jinja' %}

## Education

{% include 'education.md.jinja' %}

## Publications

{% include 'publications.md.jinja' %}

{% if not compact %}
## Intellectual property
{% endif %}

{% if private %}
{% include 'patents.md' %}
{% endif %}

### Copyrights

* Segway: a dynamic Bayesian network method for segmenting genomic data. <https://segway.hoffmanlab.org/>. Canadian copyright registration number 1115448.
* Segtools: exploratory data analysis of genomic segmentations. <https://segtools.hoffmanlab.org/>. Canadian copyright registration number 1115535.
* Genomedata: a format for storing large-scale functional genomics data. <https://genomedata.hoffmanlab.org/>. Canadian copyright registration number 1115391.
* Sunflower: a model of transcription factor binding and evolution. Canadian copyright registration number 1115330.

## Recognitions {% if compact or select %}(selected){% endif %}

{% include 'recognitions.md.jinja' %}

## Funding

{% if compact %}
\setlist*[enumerate]{leftmargin=\widthof{F99.}+0.5em}
{% endif %}

### Funding: lead principal investigator

\beginenumerate
F18.\ Canada Research Continuity Emergency Fund.
Canada Research Coordinating Committee.
{% if compact %}D{% else %}24 weeks, d{% endif %}irect costs CAD 65,452.
{% if not compact %}October {% endif %}2020--{% if not compact %}February {% endif %}2021.

F17.\ "Genome-wide cell-free DNA methylation enrichment and sequencing for preeclampsia diagnosis."
McLaughlin Centre.
Accelerator Grant in Genomic Medicine and Health Informatics.
{% if compact %}D{% else %}1 year, d{% endif %}irect costs CAD 80,000.
{% if not compact %}May {% endif %}2019--{% if not compact %}April {% endif %}2020. {# MC-2019-07 #}

F16.\ "DNA methylation profiling in cell-free DNA: a non-invasive method to screen for pre-term birth."
Canadian Institutes of Health Research.
Project Grant.
{% if compact %}D{% else %}6 years, d{% endif %}irect costs CAD 1,237,817. {# initial 1,212,525 + 25,292 COVID supplement #}
{% if not compact %}April {% endif %}2019--{% if not compact %}March {% endif %}2023. {# 389866 #}

F15.\ "Virtual ChIP-seq."
Nvidia GPU Grant.
In-kind, USD 4999. {# CAD 6289.35 using OANDA rate of 1.258121 CAD/USD on 2018-02-12 #}
{% if not compact %}February {% endif %}2018.

F11.\ "Comprehending epigenomic changes in gene dysregulation and cancer using machine learning."
Canadian Institutes of Health Research New Investigator Salary Award.
{% if compact %}D{% else %}5 years, d{% endif %}irect costs CAD 300,000.
{% if not compact %}March {% endif %}2017--{% if not compact %}February {% endif %}2022. {# 201512MSH-360970 #}

F10.\ "The expanded epigenetic alphabet: transcription factor binding in methylated DNA and beyond."
Ontario Ministry of Economic Development, Job Creation and Trade.{% if not compact %}
Ontario Research Fund:{% endif %}
Early Researcher Award.
{% if compact %}T{% else %}5 years, t{% endif %}otal costs CAD 140,000.
{% if not compact %}April {% endif %}2016--{% if not compact %}March {% endif %}2021. {# ER15-11-233 #}

F9.\ "Epigenetic DNA modifications as drivers of leukemia gene expression programs."
Canadian Cancer Society.
Innovation Grant.
{% if not compact %}Awarded: 3 years, direct costs CAD 200,000.
Actual: {% endif %}{% if compact %}D{% else %}3 years, d{% endif %}irect costs CAD 199,000{% if not compact %} (sponsor-wide cut to continuing grants){% endif %}.
{% if not compact %}August {% endif %}2015--{% if not compact %}July {% endif %}2018. {# 703827 #}

F8.\ "Interpreting epigenetic DNA modifications in glioblastoma stem cells."
McLaughlin Centre.
Accelerator Grant in Genomic Medicine and Health Informatics.
{% if compact %}D{% else %}1 year, d{% endif %}irect costs CAD 65,000.
{% if not compact %}May {% endif %}2015--{% if not compact %}April {% endif %}2016. {# MC-2015-06 #}

F7.\ "Transcription factor recognition models with modified nucleobases."
Natural Sciences and Engineering Research Council of Canada.
Discovery Grant.
{% if compact %}D{% else %}7 years, d{% endif %}irect costs CAD 247,192.83. {# 35,000/year * 7 + 2,192.83 supplement #}
{% if not compact %}April {% endif %}2015--{% if not compact %}March {% endif %}2021. {# RGPIN-2015-3948 #}

{% if not nostartup %}
{% include 'startup.md' %}
{% endif %}

F2.\ "Pattern discovery for comparative epigenomics."
National Institutes of Health/National Human Genome Research Institute.
Pathway to Independence Award (Parent K99/R00).
{% if not compact %}Awarded: 5 years, total costs USD 966,069.
Actual: {% endif %}{% if compact %}T{% else %}2 years, t{% endif %}otal costs USD 206,244{% if not compact %} (no longer eligible for R00 portion after move to Canada){% endif %}.
{% if not compact %}September {% endif %}2011--{% if not compact %}October {% endif %}2013.

F1.\ Graduate research fellowship.
National Science Foundation.
{% if compact %}D{% else %}5 years, d{% endif %}irect costs USD 142,872.
{% if not compact %}September {% endif %}2003--{% if not compact %}August {% endif %}2008.
\endenumerate

### Funding: co-principal investigator

\beginenumerate
F14.\ "Acute Leukemia Translational Research Initiative."
Ontario Institute for Cancer Research.
{% if compact %}T{% else %}2 years, t{% endif %}otal costs CAD 9,743,920.
{% if not compact %}April {% endif %}2017--{% if not compact %}September {% endif %}2021.
{% if not compact %}Lead principal investigators: John E.\ Dick, Aaron D.\ Schimmer.{% endif %} {# AL-TRI-FR-UHN #}

F13.\ "Deciphering and manipulating cell-specific regulatory network to produce therapeutic designer cells."
Medicine by Design, University of Toronto.
Team Project Award.
{% if compact %}D{% else %}3 years, d{% endif %}irect costs CAD 314,309.
{% if not compact %}September {% endif %}2016--{% if not compact %}August {% endif %}2019.
{% if not compact %}Lead principal investigator: Jason Fish.{% endif %} {# C1TPA-2016-04 #}

F12.\ "Regulatory network control of neural stem cells for endogenous repair."
Medicine by Design, University of Toronto.
Team Project Award.
{% if compact %}D{% else %}3 years, d{% endif %}irect costs CAD 3,053,789.
{% if not compact %}September {% endif %}2016--{% if not compact %}August {% endif %}2019.
{% if not compact %}Lead principal investigator: Gary Bader.{% endif %} {# C1TPA-2016-01 #}
\endenumerate

### Funding: co-investigator

\beginenumerate
F18.\ "Lung cancer early detection and classification using methylome analysis of plasma cell free DNA."
Canadian Institutes for Health Research.
{% if compact %}D{% else %}4 years, d{% endif %}irect costs $995,264.
{% if not compact %}October {% endif %}2019--{% if not compact %}September {% endif %}2023.
Lead principal investigators: Scott V.\ Bratman, Geoffrey Liu. {# 420085 #}

F6.\ "Cancer Stem Cell Program."
Ontario Institute for Cancer Research.
{% if compact %}T{% else %}2 years, t{% endif %}otal costs CAD 5,436,364.
{% if not compact %}April {% endif %}2015--{% if not compact %}March {% endif %}2017.
Lead principal investigator: John E.\ Dick. {# CSC-PRAR-UHN #}

F5.\ "Sequence variation and DNA methylation patterning."
Natural Sciences and Engineering Research Council of Canada.
Discovery Grant.
{% if compact %}D{% else %}5 years, d{% endif %}irect costs CAD 160,000.
Hoffman Lab: {% if not compact %}January {% endif %}2015--{% if not compact %}January {% endif %}2017.
Lead principal investigator: Carl P.\ Ernst. {# RGPIN-2013-435512 #}
\endenumerate

{% if (not compact) or annotate %}
## Presentations
{% endif %}

{% set presentation_score_min = presentation_score|default("-inf")|float -%}
{% set num_presentations = cycler(*range(1000)) %}
{% macro p(text, score=0) -%}
{% if score >= presentation_score_min -%}
{{ text }}{% do num_presentations.next() %}

{% endif -%}
{% endmacro -%}

{% macro pa(text, location, date, year, score=0) -%}
{% if compact -%}
{{ p("P" ~ text ~ ". " ~ year ~ ".", score) }}
{% else -%}
{{ p("PA" ~ text ~ ". " ~ location ~ ". " ~ date ~ " " ~ year ~ ".", score) }}
{% endif -%}
{% endmacro -%}

{# Note: last presentation in a group must end with }} instead of -}} #}

{% if (not compact) or annotate %}#{% endif %}## Presentations: invited/keynote{% if compact and not annotate %} (selected){% endif %}

{% if compact %}
\setlist*[enumerate]{leftmargin=\widthof{P99.}+0.5em}
{% endif %}

{# XXX: add titles: PA53 #}

\beginenumerate
{{ pa('53.\ Genomics Seminar Series. Center for Genomic Science Innovation, University of Wisconsin-Madison', 'Madison, WI', '7 April', 2022, 33) -}}
{{ pa('52.\ "The ungracious guest: how the human papillomavirus (HPV) changes the local host epigenome and transcriptome to promote tumorigenesis." Cancer Center Seminar Series. Sanford Burnham Prebys Medical Discovery Institute', 'Videoconference', '14 June', 2021, 33) -}}
{{ pa('51.\ "Predicting transcription factor binding and the effects of viral integration." Ludwig Institute Seminar Series, Ludwig Institute for Cancer Research, University of Oxford', 'Videoconference', '18 March', 2021, 33) -}}
{{ pa('50.\ "Identifying transcription factor binding using open chromatin, transcriptome, and methylation data." Vancouver Bioinformatics User Group (VanBUG)', 'Videoconference', '17 March', 2021, 33) -}}
{{ pa('49.\ "Identifying transcription factor binding using open chromatin, transcriptome, and methylation data." SAGE/Biostatistics Seminar. Department of Mathematics and Statistics. University of Calgary', 'Videoconference', '12 February', 2021, 33) -}}
{{ pa('48.\ "Identifying transcription factor binding using open chromatin, transcriptome, and methylation data." Student Invited Speaker. Curriculum in Bioinformatics and Computational Biology Seminar Series. University of North Carolina-Chapel Hill', 'Videoconference', '29 January', 2021, 33) -}}
{{ pa('47.\ "BEHST: genomic set enrichment analysis enhanced through integration of chromatin
long-range interactions." Bioinformatics Tools for Functional Genomics. Asilomar Chromatin, Chromosomes, and Epigenetics Conference', 'Videoconference', '10 December', 2020, 33) -}}
{{ pa('46.\ ["Evaluating machine learning claims."](https://www.slideshare.net/hoffmanlab/evaluating-machine-learning-claims-229405631) Science Foundation Ireland Centre for Research Training in Genomics Data Science. National University of Ireland', 'Videoconference', '30 November', 2020, 33) -}}
{{ pa('45.\ "Viral integration and data integration: what they can tell us about the classical and 3D epigenomes". Barbados Workshop: Bridging the Classical and 3D Epigenomics. Bellairs Research Institute', 'Holetown, Barbados', 'Conference postponed due to global pandemic. Original dates: 17--24 April', 2020, 33) -}}
{{ pa('44.\ "Identifying transcription factor binding using open chromatin, transcriptome, and methylation data." Institute of Cellular and Molecular Biology, University of Texas at Austin', 'Austin, TX', '10 October', 2019, 750) -}}
{{ pa('43.\ "Identifying transcription factor binding using open chromatin, transcriptome, and methylation data." Departmental Grand Rounds, Department of Biomedical Informatics, University at Buffalo', 'Buffalo, NY', '19 June', 2019, 700) -}}
{{ pa('42.\ "Virtual ChIP-seq: predicting transcription factor binding by learning from the transcriptome." Artificial Intelligence and Machine Learning in Biology Symposium. Department of Mathematics and Biostatistics. University of Guelph', 'Guelph, ON', '13 May', 2019, 700) -}}
{% if compact %}
{{ pa('41.\ "Identifying transcription factor binding using open chromatin, transcriptome, and methylation data". Department of Genetics and Genomic Sciences. Icahn School of Medicine at Mount Sinai', 'New York, NY', '29 March', 2019, 775) -}}
{% else %}
{{ pa('41.\ "Identifying transcription factor binding using open chromatin, transcriptome, and methylation data". Department of Genetics and Genomic Sciences and Institute for Genomics and Multiscale Biology. Icahn School of Medicine at Mount Sinai', 'New York, NY', '29 March', 2019, 775) -}}
{% endif %}
{{ pa('40.\ "Virtual ChIP-seq: predicting transcription factor binding by learning from the transcriptome." The Role of Genomics and Metagenomics in Human Health: Recent Developments in Statistical and Computational Methods. Banff International Research Station', 'Banff, AB', '4 February', 2019, 790) -}}
{% if compact %}
{{ pa('39.\ "Modeling methyl-sensitive transcription factor motifs with an expanded epigenetic alphabet." Reading between the genes: interpreting noncoding DNA in high throughput. Pacific Symposium on Biocomputing', 'Kohala Coast, HI', '6 January', 2019, 800) -}}
{% else %}
{{ pa('39.\ "Modeling methyl-sensitive transcription factor motifs with an expanded epigenetic alphabet." Reading between the genes: interpreting noncoding DNA in high throughput. Pacific Symposium on Biocomputing (PSB)', 'Kohala Coast, HI', '6 January', 2019, 800) -}}
{% endif %}
{{ pa('38.\ "Identifying transcription factor binding using open chromatin, transcriptome, and methylation data." Special Seminar, Department of Biomedical and Molecular Sciences and School of Computing, Queen\'s University', 'Kingston, ON', '26 November', 2018, 700) -}}
{{ pa('37.\ "Virtual ChIP-seq: predicting transcription factor binding by learning from the transcriptome." Cold Spring Harbor Laboratory Meeting on Biological Data Sciences', 'Cold Spring Harbor, NY', '8 November', 2018, 800) -}}
{{ pa('36.\ "Segway and the Graphical Models Toolkit: a framework for probabilistic genomic inference." Meeting on Probabilistic Modeling In Genomics', 'Cold Spring Harbor, NY', '5 November', 2018, 800) -}}
{{ pa('35.\ "Identifying transcription factor binding using open chromatin, transcriptome, and methylation data." Department of Computational Medicine and Bioinformatics Seminar Series. University of Michigan', 'Ann Arbor, MI', '24 October', 2018, 775) -}}
{{ pa('34.\ "Virtual ChIP-seq: predicting transcription factor binding by learning from the transcriptome." Fifth Canadian Conference on Epigenetics. Epigenetics Canada', 'Estérel, QC', '30 September--3 October', 2018, 790) -}}
{{ pa('33.\ "Virtual ChIP-seq: predicting transcription factor binding by learning from the transcriptome." BioC', 'Toronto, ON', '26 July', 2018, 760) -}}
{{ pa('32.\ "Identifying transcription factor binding using open chromatin, transcriptome, and methylation data." Department of Cellular and Molecular Physiology. College of Medicine. Pennsylvania State University', 'Hershey, PA', '5 June', 2018, 700) -}}
{% if compact %}
{{ pa('31.\ "Virtual ChIP-seq: predicting transcription factor binding by learning from the transcriptome." Symposium on Advances in Genomics, Epidemiology, and Statistics', 'Philadelphia, PA', '1 June', 2018, 800) -}}
{% else %}
{{ pa('31.\ "Virtual ChIP-seq: predicting transcription factor binding by learning from the transcriptome." Symposium on Advances in Genomics, Epidemiology, and Statistics (SAGES)', 'Philadelphia, PA', '1 June', 2018, 800) -}}
{% endif %}
{{ pa('30.\ "Understanding epigenetics—and what it means for cancer." Barbados Workshop on Cancer Epigenetics. Bellairs Research Institute', 'Holetown, Barbados', '8 January', 2018, 755) -}}
{% if compact %}
{{ pa('29.\ "Identifying transcription factor binding using open chromatin, transcriptome, and methylation data." Research Program in Quantitative Sciences Seminar Series. Sidney Kimmel Comprehensive Cancer Center. Johns Hopkins University', 'Baltimore, MD', '14 December', 2017, 775) -}}
{% else %}
{{ pa('29.\ "Identifying transcription factor binding using open chromatin, transcriptome, and methylation data." Research Program in Quantitative Sciences Seminar Series. Division of Biostatistics and Bioinformatics. Sidney Kimmel Comprehensive Cancer Center. Johns Hopkins University', 'Baltimore, MD', '14 December', 2017, 775) -}}
{% endif %}
{{ pa('28.\ "Identifying transcription factor binding using open chromatin, transcriptome, and methylation data." Research Seminar Series. British Columbia Cancer Agency', 'Vancouver, BC', '2 October', 2017, 750) -}}
{{ pa('27.\ "Novel inferences from Hi-C data with protein-coding gene data." Great Lakes Bioinformatics Conference', 'Chicago, IL', '17 May', 2017, 700) -}}
{{ pa('26.\ "Computational predictive models and 3D genome organization." Workshop on the Physical Basis of Functional Genome Organization. Bellairs Research Institute', 'Holetown, Barbados', '15 April', 2017, 745) -}}
{{ pa('25.\ "Automated genome annotation and an expanded epigenetic alphabet." Microsoft Research New England', 'Cambridge, MA', '27 March', 2017, 700) -}}
{{ pa('24.\ "Automated genome annotation and an expanded epigenetic alphabet." HudsonAlpha Institute for Biotechnology', 'Huntsville, AL', '8 March', 2017, 700) -}}
{{ pa('23.\ "Modeling methyl-sensitive transcription factor motifs with an expanded epigenetic alphabet." Institute for Operations Research and the Management Sciences (INFORMS) Annual Meeting', 'Nashville, TN', '15 November', 2016, 700) -}}
{{ pa('22.\ "Modeling methyl-sensitive transcription factor motifs with an expanded epigenetic alphabet." Cold Spring Harbor Laboratory Meeting on Biological Data Sciences', 'Cold Spring Harbor, NY', '27 October', 2016, 800) -}}
{{ pa('21.\ "Semi-automated genome annotation and an expanded epigenetic alphabet." Wellcome Trust Sanger Institute', 'Hinxton, England', '19 September', 2016, 725) -}}
{% if compact %}
{{ pa('20.\ ["Semi-automated human genome annotation using chromatin data."](https://www.youtube.com/watch?v=IZXLTO0mL-E&list=PLmX8XnLr6zeFSjK3H4YdtUG57yjJUlDjb&index=9) Intelligent Systems for Molecular Biology', 'Orlando, FL', '12 July', 2016, 800) -}}
{% else %}
{{ pa('20.\ ["Semi-automated human genome annotation using chromatin data."](https://www.youtube.com/watch?v=IZXLTO0mL-E&list=PLmX8XnLr6zeFSjK3H4YdtUG57yjJUlDjb&index=9) Intelligent Systems for Molecular Biology (ISMB)', 'Orlando, FL', '12 July', 2016, 800) -}}
{% endif %}
{{ pa('19.\ "Modeling methyl-sensitive transcription factor motifs with an expanded epigenetic alphabet." Bioinformatics Italian Society (BITS) Annual Meeting', 'Salerno, Italy', '17 June', 2016, 700) -}}
{{ pa('18.\ "Semi-automated genome annotation and an expanded epigenetic alphabet." Early Career Investigators Meeting on Quantitative Problems in Human Genetics and Health. Banff International Research Station', 'Banff, AB', '11 January', 2016, 790) -}}
{{ pa('17.\ "Semi-automated human genome annotation using chromatin data." Institute for Operations Research and the Management Sciences (INFORMS) Annual Meeting', 'Philadelphia, PA', '2 November', 2015, 700) -}}
{{ pa('16.\ "Modeling methyl-sensitive transcription factor motifs with an expanded epigenetic alphabet." Cold Spring Harbor Laboratory Meeting on Genome Informatics', 'Cold Spring Harbor, NY', '29 October', 2015, 800) -}}
{{ pa('15.\ "Semi-automated genome annotation and an expanded epigenetic alphabet." ' ~ dept ~ ' of Biology. New York University', 'New York, NY', '28 October', 2015, 745) -}}
{{ pa('14.\ "Transcription factor binding motifs in an expanded epigenetic alphabet." Taiwan-Canada Joint Workshop on Epigenetics. Canadian Human and Statistical Genetics Meeting', 'Vancouver, BC', '21 April', 2015, 745) -}}
{{ pa('13.\ "Semi-automated genome annotation and an expanded epigenetic alphabet." ' ~ dept ~ ' of Biochemistry and Molecular Genetics. University of Colorado Anschutz Medical Campus', 'Denver, CO', '3 April', 2015, 745) -}}
{{ pa('12.\ "Semi-automated genome annotation and an expanded epigenetic alphabet." Bioinformatics Club. University of Waterloo', 'Waterloo, ON', '24 March', 2015, 500) -}}
{{ pa('11.\ "Semi-automated genome annotation and an expanded epigenetic alphabet." Understanding non-coding DNA through intra and inter-species epigenomic variation. Bellairs Research Institute', 'Holetown, Barbados', '9 January', 2015, 745) -}}
{{ pa('10.\ "Semi-automated genome annotation and an expanded epigenetic alphabet." McGill University', 'Montreal, QC', '21 November', 2014, 745) -}}
{{ pa('9.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." Major Discoveries in Biology. Undergraduate Program in Genomic Sciences. National Autonomous University of Mexico', 'Mexico City, Mexico (videoconference)', '5 March', 2014, 500) -}}
{{ pa('8.\ "Semi-automated Genome Annotation with Segway." Institute of Electrical and Electronics Engineers International Workshop on Genomic Signal Processing and Statistics', 'Houston, TX', '17 November', 2013, 700) -}}
{% if compact %}
{{ pa('7.\ "Unsupervised pattern discovery in human chromatin structure through genomic segmentation." Workshop on Epigenomics and Cell Function. ACM Conference on Bioinformatics, Computational Biology and Biomedicine', 'Washington, DC', '22 September', 2013, 700) -}}
{% else %}
{{ pa('7.\ "Unsupervised pattern discovery in human chromatin structure through genomic segmentation." Workshop on Epigenomics and Cell Function 2013. Association for Computing Machinery Conference on Bioinformatics, Computational Biology and Biomedicine', 'Washington, DC', '22 September', 2013, 700) -}}
{% endif %}
{{ pa('6.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." Genentech', 'South San Francisco, CA', '12 November', 2012, 600) -}}
{{ pa('5.\ "Unsupervised pattern discovery in human chromatin data." Computational Biology Center Guest Seminar. Memorial Sloan-Kettering Cancer Center', 'New York, New York', '18 May', 2011, 600) -}}
{{ pa('4.\ "Segway: finding patterns in chromatin data." Center for Bioinformatics Research Special Talk, Indiana University', 'Bloomington, Indiana', '18 November', 2010, 700) -}}
{% if compact %}
{{ pa('3.\ "Finding the patterns in chromatin data." Barbados Workshop on Gene Regulation', 'Holetown, Barbados', '21 April', 2010, 745) -}}
{% else %}
{{ pa('3.\ "Finding the patterns in chromatin data." Fifth Barbados Workshop on Gene Regulation: The role of chromatin in 3D structure', 'Holetown, Barbados', '21 April', 2010, 745) -}}
{% endif %}
{% if compact %}
{{ pa('2.\ "Properties of natural selection in mammalian promoters." Weizmann UK Symposium: Biological complexity', 'London, England', 'Summer', 2008, 700) -}}
{% else %}
{{ pa('2.\ "Properties of natural selection in mammalian promoters." Weizmann UK Symposium: Biological complexity: from models to systems', 'London, England', 'Summer', 2008, 700) -}}
{% endif %}
{{ pa('1.\ "Predicting Selection in Promoters by Simulating the Effects of Mutations." Waterman Seminar, Leibniz Institute of Plant Genetics and Crop Plant Research', 'Gatersleben, Germany', 'Autumn', 2007, 700) }}
\endenumerate

### Presentations: invited/keynote, local

\beginenumerate
{{ p('PB19.\ ["Segway and the Graphical Models Toolkit: a framework for probabilistic genomic inference."](https://www.youtube.com/watch?v=kQLN0BiTsOM&t=111) University of Toronto Machine Intelligence Student Team, University of Toronto. Toronto, ON. 14 January 2021.', 550) -}}
{{ p('PB18.\ "Evaluating machine learning claims." International Data Science Speaker Series. Canadian Statistical Sciences Institute, Department of Computer Science Master of Science in Applied Computing Program, and Rotman School of Management Master of Management Analytics Program. University of Toronto. Toronto, ON. 21 December 2020.', 550) -}}
{{ p('PB17.\ "Modeling methyl-sensitive transcription factor motifs with an expanded epigenetic alphabet." ReGen20: The Stem Cell Project, Fifth Annual Stem Cell Conference. Student Society for Stem Cell Research, University of Toronto. Toronto, ON. 29 February 2020.', 550) -}}
{{ p('PB16.\ "Virtual ChIP-seq: predicting transcription factor binding by learning from the transcriptome." Friday ML Seminar, Vector Institute. Toronto, ON. 18 January 2019.', 550) -}}
{{ p('PB15.\ "Virtual ChIP-seq: predicting transcription factor binding by learning from the transcriptome." University of Toronto Machine Intelligence Student Team, University of Toronto. Toronto, ON. 31 October 2017.', 550) -}}
{{ p('PB14.\ "Semi-automated human genome annotation using chromatin data." Undergraduate AI Day. Undergraduate AI Group, University of Toronto. Toronto, ON. 22 November 2016.', 550) -}}
{{ p('PB13.\ "Data challenges for researchers." Reconnect16. CASRAI Canadian National Chapter. Toronto, ON. 24 October 2016.', 550) -}}
{{ p('PB12.\ "The expanded epigenetic alphabet." Ontario Research Fund Funding Announcement. Ontario Ministry of Research and Innovation. Toronto, ON. 22 August 2016', 550) -}}
{{ p('PB11.\ "100% open access: expect no less." Ontario Open Access: Accelerating Science. Ontario Ministry of Research and Innovation. Toronto, ON. 18 March 2016.', 600) -}}
{{ p('PB10.\ "Semi-automated genome annotation and an expanded epigenetic alphabet." Signals and Computational Intelligence Chapter. Toronto Section. Institute of Electrical and Electronics Engineers. Toronto, ON. 11 February 2016', 100) -}}
{{ p('PB9.\ "Modeling methyl-sensitive transcription factor motifs with an expanded epigenetic alphabet." Personalizing Cancer Medicine in 2016. Toronto, ON. 1 February 2016', 100) -}}
{{ p('PB8.\ "Modeling methyl-sensitive transcription factor motifs with an expanded epigenetic alphabet." ' ~ dept ~ ' of Medical Biophysics Annual Retreat. Geneva Park, ON. 20 October 2015.', 100) -}}
{{ p('PB7.\ "Semi-automated genome annotation and an expanded epigenetic alphabet." Program in Genetic Networks Workshop. Canadian Institute for Advanced Research. Toronto, ON. 10 April 2015.', 600) -}}
{{ p('PB6.\ "Semi-automated human genome annotation." Signals and Intelligence Chapter/Signal Processing Chapter/Engineering in Medicine and Biology Chapter. Toronto Section. Institute of Electrical and Electronics Engineers. Toronto, ON. 9 March 2015.', 500) -}}
{{ p('PB5.\ "Transcription factor binding prediction." Biohackathon. Internationally Genetically Engineered Machine (iGEM) Club. University of Toronto. Toronto, ON. 22 January 2015.', 500) -}}
{{ p('PB4.\ "Machine Learning and Epigenomics." Princess Margaret Cancer Centre Research Retreat. Huntsville, ON. 15 May 2014.', 100) -}}
{{ p('PB3.\ ["Semi-automated annotation of the human genome using chromatin and RNA-seq data."](https://www.youtube.com/watch?v=3R5BPKV3iho&t=111) Toronto Bioinformatics Users Group. Toronto, ON. 27 November 2013.', 500) -}}
{{ p('PB2.\ "Student address, The University of Texas at Austin 120th Spring Commencement, College of Natural Sciences Convocation." Austin, TX. 17 May 2003.', 250) -}}
{{ p('PB1.\ "Student address, The University of Texas at Austin 55th Honors Day Convocation." Austin, TX. 12 April 2003.', 250) }}
\endenumerate

### Presentations: conference, selected from abstracts

{% macro pc(text, location, date, year, score=0) -%}
{% if compact -%}
{{ p("Q" ~ text ~ ". " ~ year ~ ".", score) }}
{% else -%}
{{ p("PC" ~ text ~ ". " ~ location ~ ". " ~ date ~ " " ~ year ~ ".", score) }}
{% endif -%}
{% endmacro -%}

{% if compact %}
\setlist*[enumerate]{leftmargin=\widthof{Q99.}+0.5em}
{% endif %}

\beginenumerate
{{ pc('19.\ "Inference of transcription factor binding sites in new cell types from open chromatin and gene expression data." Topic-contributed session on statistical learning for epigenomics data. Joint Statistical Meetings', 'Vancouver, BC', '31 July', 2018, 750) -}}
{{ pc('18.\ "Modeling methyl-sensitive transcription factor motifs with an expanded epigenetic alphabet." Keystone Conference on DNA and RNA Methylation', 'Vancouver, BC', '22 January', 2018, 725) -}}
{{ pc('17.\ "Modeling methyl-sensitive transcription factor motifs with an expanded epigenetic alphabet." Canadian Cancer Research Conference', 'Vancouver, BC', '7 November', 2017, 725) -}}
{{ pc('16.\ "Transcription factor expression and its effects on binding site occupancy and motif preference." Cold Spring Harbor Laboratory/Wellcome Trust Conference on Genome Informatics', 'Hinxton, England', '19 September', 2016, 725) -}}
{{ pc('15.\ ["Segway: semi-automated genome annotation."](https://www.youtube.com/watch?v=-GOML8D9iWk) Bioinformatics Open Source Conference', 'Dublin, Ireland', '10 July', 2015, 350) -}}
{{ pc('14.\ "Transcription factor binding in an expanded epigenetic alphabet." World Congress on Medical Physics. International Union for Physical and Engineering Sciences', 'Toronto, ON', '11 June', 2015, 350) -}}
{{ pc('13.\ "Transcription factor binding in an expanded epigenetic alphabet." Keystone Symposium on DNA Methylation. Keystone Symposia on Molecular and Cellular Biology', 'Keystone, CO', '1 April', 2015, 725) -}}
{{ pc('12.\ "Transcription factor motif discovery and prediction in an expanded epigenetic alphabet." Cold Spring Harbor Laboratory/Wellcome Trust Conference on Genome Informatics', 'Cambridge, England', '22 September', 2014, 725) -}}
{{ pc('11.\ "One genome, many epigenomes, machine learning." Workshop on Big Data for Health, University of Toronto', 'Toronto, ON', '4 July', 2014, 300) -}}
{{ pc('10.\ "Semi-automated annotation of functional elements with whole genome RNA-seq." Machine Learning in Computational Biology 2012. Neural Information Processing Systems Conference 2012', 'Stateline, NV', '7 December', 2012, 350) -}}
{{ pc('9.\ "Functional genomics and machine learning." SynBioCon 2012', 'Austin, TX', '26 May', 2012, 300) -}}
{{ pc('8.\ "Semi-automated annotation of the human genome using whole-genome RNA-seq." ENCODE and modENCODE AWG/PI Meeting', 'Cambridge, MA', '22 May', 2012, 300) -}}
{{ pc('7.\ "Discovery of functional elements using whole-genome RNA-seq." The Biology of Genomes', 'Cold Spring Harbor, NY', '9 May', 2012, 725) -}}
{{ pc('6.\ "Chromosomal features: large-scale integration." ENCODE AWG Workshop', 'Stanford, CA', '7 March', 2011, 300) -}}
{{ pc('5.\ "Large-scale integration group update." ENCODE AWG Workshop', 'Barcelona, Spain', '20 July', 2010, 300) -}}
{{ pc('4.\ "Large-scale behavior task group." ENCODE AWG Workshop', 'Rockville, MD', '8 March', 2010, 300) -}}
{{ pc('3.\ "Segway: a dynamic Bayesian network for genomic segmentation." ENCODE and modENCODE Consortia Meeting', 'Bethesda, MD', 'Spring', 2009, 300) -}}
{{ pc('2.\ "ENCODE and Segway." ENCODE AWG Workshop', 'Rockville, MD', 'December', 2008, 300) -}}
{{ pc('1.\ "Poly: rapid development of embarrassingly parallelizable applications." Bioinformatics Open Source Conference', 'Glasgow, Scotland', 'Summer', 2004, 350) }}
\endenumerate

### Presentations: conference, selected from abstracts, trainee

\beginenumerate
{{ p('PD5.\ "Semi-automated annotation of the human genome using chromatin data." University of Washington Postdoctoral Association Research Symposium. Seattle, WA. 27 November 2012.', 100) -}}
{{ p('PD4.\ "Properties of natural selection in mammalian promoters." Sanger-Cambridge PhD Symposium. Hinxton, England. Spring 2008.', 100) -}}
{{ p('PD3.\ "Sunflower: a model of transcription factor binding." EMBL Predoctoral Fellow Retreat. Barcelona, Spain. Summer 2007.', 100) -}}
{{ p('PD2.\ "Measurements of evolution and natural selection." Trinity College Science Society Symposium. Cambridge, England. Spring 2007.', 100) -}}
{{ p('PD1.\ "Visualizing protein-DNA and protein-RNA interactions with AANT." Trinity College Science Society Symposium. Cambridge, England. 13 March 2004.', 100) }}
\endenumerate

### Presentations: invited panelist

{% macro pe(text, location, date, year, score=0) -%}
{% if compact -%}
{{ p("R" ~ text ~ ". " ~ year ~ ".", score) }}
{% else -%}
{{ p("PE" ~ text ~ ". " ~ location ~ ". " ~ date ~ " " ~ year ~ ".", score) }}
{% endif -%}
{% endmacro -%}

{% if compact %}
\setlist*[enumerate]{leftmargin=\widthof{R99.}+0.5em}
{% endif %}

\beginenumerate
{{ pe('2.\ "Networking." Trainee-Mentor Lunch. Annual Meeting. American Society for Human Genetics', 'Houston, TX', '17 October', 2019, 200) -}}
{{ pe('1.\ "Genomic computing challenges and perspectives." Intelligent Systems for Molecular Biology (ISMB)', 'Orlando, FL', '12 July', 2016, 250) }}
\endenumerate

### Presentations: invited panelist, local

\beginenumerate
{{ p('PF10.\ "Moving machine learning in -omics from bench to bedside: How can we get there faster?" OICR Translational Research Conference. Toronto, ON. 26 March 2021.', 200) -}}
{{ p('PF9.\ "Establishing a Strong Network in the Virtual World." KITE Trainee Executive Committee, Toronto Rehabilitation Institute. Toronto, ON. 6 August 2020.', 200) -}}
{{ p('PF8.\ "Rise of the machines." The Know Show. Toronto, ON. 28 August 2019', 200) -}}
{{ p('PF7.\ "Big data." Connaught International Symposium. GEMINI Connaught Program and Department of Immunology, University of Toronto. Toronto, ON. 21 November 2016', 200) -}}
{{ p('PF6.\ "Canada\'s Research Data Management Ecosystem." Reconnect16. Canadian National Chapter, CASRAI. Toronto, ON. 24 October 2016.', 200) -}}
{{ p('PF5.\ "Health research and data." Ontario Open Access: Accelerating Science. Ontario Ministry of Research and Innovation. Toronto, ON. 18 March 2016.', 200) -}}
{{ p('PF4.\ "Geneva Election Day." ' ~ dept ~ ' of Medical Biophysics Annual Retreat. Geneva Park, ON. 19 October 2015.', 200) -}}
{{ p('PF3.\ "Informatics, Annotation, and Computing." Applied Cancer Genomics Symposium, Toronto, ON. 3 October 2014.', 200) -}}
{{ p('PF2.\ "The job search process: postdoctoral, faculty, and industry jobs." Toronto Bioinformatics Users Group. Toronto, ON. 27 November 2013.', 200) -}}
{{ p('PF1.\ "Networking." Women in Genome Sciences Discussion. University of Washington. 23 February 2012.', 200) }}
\endenumerate

### Presentations: other teaching

\beginenumerate
{{ p('PG32.\ "Evaluating machine learning claims." Summer Student Program. ' ~ dept ~ ' of Medical Biophysics. University of Toronto. 17 August 2021.', 50) -}}
{{ p('PG31.\ "Evaluating machine learning." Advanced Computational Biology.' ~ dept ~ ' of Molecular Genetics. University of Toronto. 27 May 2021.', 50) -}}
{{ p('PG30.\ "Gene Regulation Network Analysis." Pathway and Network Analysis of -omic Data. Canadian Bioinformatics Workshop. 28 July 2020.', 50) -}}
{{ p('PG29.\ "Machine learning for epigenomics." Guest seminar for Epigenetics. ' ~ dept ~ ' of Medical Biophysics. University of Toronto. 28 November 2019.', 50) -}}
{{ p('PG28.\ "Evaluating machine learning claims." Summer Student Program. ' ~ dept ~ ' of Medical Biophysics. University of Toronto. 9 July 2019.', 50) -}}
{{ p('PG27.\ "Gene Regulation Network Analysis." Pathway and Network Analysis of -omic Data. Canadian Bioinformatics Workshop. 28 June 2019.', 50) -}}
{{ p('PG26.\ "Biophysics Seminar," MBP 1015Y. ' ~ dept ~ ' of Medical Biophysics. University of Toronto. 26 September 2018--29 May 2019.', 50) -}}
{{ p('PG25.\ "Gene Regulation Network Analysis." High-throughput Biology: From Sequence to Networks. Canadian Bioinformatics Workshop. 17 March 2019.', 50) -}}
{{ p('PG24.\ "Cancer epigenomics." Guest seminar for Quantitative Cancer Genomics. ' ~ dept ~ ' of Medical Biophysics. University of Toronto. 31 January 2019.', 50) -}}
{{ p('PG23.\ "Epigenomics." Summer Student Program. ' ~ dept ~ ' of Medical Biophysics. University of Toronto. 7 August 2018.', 50) -}}
{{ p('PG22.\ ["Gene Regulation Network Analysis."](https://www.youtube.com/watch?v=6rdI4KaRFlM) Pathway and Network Analysis of -omic Data. 27 June 2018.', 50) -}}
{{ p('PG21.\ "Machine learning in epigenomics." Guest seminar for Epigenetics. ' ~ dept ~ ' of Medical Biophysics. University of Toronto. 7 December 2017.', 50) -}}
{{ p('PG20.\ "Data integration and epigenomics." Advanced Sequencing Technologies and Applications. Cold Spring Harbor Laboratory. 13 November 2017.', 50) -}}
{{ p('PG19.\ "Biophysics Seminar," MBP 1015Y. ' ~ dept ~ ' of Medical Biophysics. University of Toronto. 27 September 2017--28 March 2018.', 50) -}}
{{ p('PG18.\ ["Gene Regulation Network Analysis."](https://www.youtube.com/watch?v=WEHrbjK49l4) High-throughput Biology: From Sequence to Networks. Canadian Bioinformatics Workshop. 27 March 2017.', 50) -}}
{{ p('PG17.\ "Cancer epigenomics." Guest seminar for Quantitative Cancer Genomics. ' ~ dept ~ ' of Medical Biophysics. University of Toronto. 2 February 2017.', 50) -}}
{{ p('PG16.\ "Semi-automated human genome annotation using chromatin data." Guest lecture for CSC 2417, Department of Computer Science, University of Toronto. 16 November 2016.', 50) -}}
{{ p('PG15.\ "Data integration and epigenomics." Advanced Sequencing Technologies and Applications. Cold Spring Harbor Laboratory. 14 November 2016.', 50) -}}
{{ p('PG14.\ "Biophysics Seminar," MBP 1015Y. ' ~ dept ~ ' of Medical Biophysics. University of Toronto. 2016--2017.', 50) -}}
{{ p('PG13.\ "Epigenomics." Summer Student Program. ' ~ dept ~ ' of Medical Biophysics. University of Toronto. 30 May 2016.', 50) -}}
{{ p('PG12.\ ["Gene Regulation Network Analysis."](https://www.youtube.com/watch?v=SYDU5Ycas4Q) Pathway and Network Analysis of -omic Data. Canadian Bioinformatics Workshop. 15 June 2016.', 50) -}}
{{ p('PG11.\ "Biophysics Seminar," MBP 1015Y. ' ~ dept ~ ' of Medical Biophysics. University of Toronto. 2015--2016.', 50) -}}
{{ p('PG10.\ "Epigenomics." Summer Student Program. ' ~ dept ~ ' of Medical Biophysics. University of Toronto. 8 June 2015.', 50) -}}
{{ p('PG9.\ ["Gene Regulation Network Analysis."](https://www.youtube.com/watch?v=tcRS32HZGww) Pathway and Network Analysis of -omic Data. Canadian Bioinformatics Workshop. 3 June 2015.', 50) -}}
{{ p('PG8.\ "Biophysics Seminar," MBP 1015Y. ' ~ dept ~ ' of Medical Biophysics. University of Toronto. 15 October 2014--2015.', 50) -}}
{{ p('PG7.\ ["Gene Regulation Network Analysis."](https://www.youtube.com/watch?v=Pc93naYd-wA) High-throughput Biology: From Sequence to Networks. Canadian Bioinformatics Workshop. 3 May 2015.', 50) -}}
{{ p('PG6.\ ["Transcription Factor Regulatory Analysis."](https://www.youtube.com/watch?v=OyK-1-zv2es) Pathway and Network Analysis of omics Data. Canadian Bioinformatics Workshop, 4 June 2014.', 50) -}}
{{ p('PG5.\ "Introduction to ENCODE" and "The Segway annotation of the ENCODE Data." Iowa Institute of Human Genetics Bioinformatics Short Course. Taught two one-hour lectures. University of Iowa. 30--31 July 2013.', 50) -}}
{{ p('PG4.\ "Genes and gambling: using probability to make sense of biology." Guest lecture for undergraduate computer science course, Bellevue College. Winter 2010.', 50) -}}
{{ p('PG3.\ "Introduction to Python." Taught two-day seminar. European Molecular Biology Laboratory. Autumn 2005.', 50) -}}
{{ p('PG2.\ "EMBL Predoctoral Bioinformatics Workshop." Organizing committee member and teaching assistant for three-day course. European Molecular Biology Laboratory. Autumn 2004.', 50) -}}
{{ p('PG1.\ "Biological sequence analysis." Discussion leader for eight-week seminar. The University of Texas at Austin Society for Computational Biology. Summer 2003.', 50) }}
\endenumerate

### Presentations: other seminars

\beginenumerate
{{ p('PH19.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." ' ~ dept ~ ' of Genetics. University of Pennsylvania. Philadelphia, PA. 25 July 2013.', 775) -}}
{{ p('PH18.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." Ontario Cancer Institute. Toronto, ON. 4 July 2013.', 600) -}}
{{ p('PH17.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." Institute for Human Genetics. University of California, San Francisco. San Francisco, CA. 21 March 2013.', 775) -}}
{{ p('PH16.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." Analytical and Translational Genetics Unit. Massachusetts General Hospital. 24 April 2013.', 775) -}}
{{ p('PH15.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." ' ~ dept ~ ' of Electrical and Computer Engineering. University of Texas at Austin. 22 April 2013.', 675) -}}
{{ p('PH14.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." The Jackson Laboratory. Bar Harbor, ME. 11 March 2013.', 675) -}}
{{ p('PH13.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." McKusick-Nathans Institute of Genetic Medicine. Johns Hopkins University. Baltimore, MD. 7 March 2013.', 775) -}}
{{ p('PH12.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." ' ~ dept ~ ' of Human Genetics. University of Utah. Salt Lake City, UT. 25 February 2013.', 675) -}}
{{ p('PH11.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." National Eye Institute. National Institutes of Health. Bethesda, MD. 30 January 2013.', 675) -}}
{{ p('PH10.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." ' ~ dept ~ ' of Molecular and Medical Genetics. Oregon Health and Science University. Portland, OR. 23 January 2013.', 675) -}}
{{ p('PH9.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." ' ~ dept ~ ' of Human Genetics. Emory University. Atlanta, GA. 14 January 2013.', 750) -}}
{{ p('PH8.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." McDermott Center for Human Growth and Development/Center for Human Genetics. University of Texas Southwestern Medical Center. Dallas, TX. 7 January 2013.', 675) -}}
{{ p('PH7.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." Earl Stadtman Symposium on Genetics, Genomics, and Systems Biology. Division of Intramural Research. National Institutes of Health. Bethesda, MD. 17 December 2012.', 750) -}}
{{ p('PH6.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." Program in Bioinformatics and Integrative Biology. University of Massachusetts Medical School. Worcester, MA. 10 December 2012.', 675) -}}
{{ p('PH5.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." ' ~ dept ~ ' of Pediatrics. University of California, San Diego. 4 June 2012.', 675) -}}
{{ p('PH4.\ "Unsupervised and semi-supervised pattern discovery in human chromatin\ structure." Section of Genetic Medicine. University of Chicago. Chicago, IL. 23 April 2012.', 775) -}}
{{ p('PH3.\ "Simultaneous segmentation of multiple functional genomics data sets with heterogeneous patterns of missing data." ' ~ dept ~ ' of Computer Science. Colorado State University. Fort Collins, CO. 10 April 2012.', 700) -}}
{{ p('PH2.\ "Properties of natural selection in mammalian promoters." Seminar, Broad Institute of MIT and Harvard. Cambridge, MA. 9 April 2008.', 775) -}}
{{ p('PH1.\ "Properties of natural selection in mammalian promoters." Seminar, Program in Bioinformatics and Integrative Biology, University of Massachusetts Medical School. Worcester, MA. 25 March 2008.', 750) }}
\endenumerate

### Presentations: other seminars, local

\beginenumerate
{{ p('PI9.\ "Modeling methyl-sensitive transcription factors with an expanded epigenetic alphabet." Annual Meeting. Acute Leukemia Translational Research Initiative. Ontario Institute for Cancer Research. Toronto, ON. 1 February 2016.', 100) -}}
{{ p('PI8.\ "Methyl-sensitive transcription factors in brain cancers." Brain Cancer Translational Research Initiative Workshop. Ontario Institute for Cancer Research. Toronto, ON. 1 February 2016.', 100) -}}
{{ p('PI7.\ "Deciphering leukemia stemness programs with an expanded epigenetic alphabet." Acute Leukemia Translational Research Initiative Workshop. Ontario Institute for Cancer Research. Toronto, ON. 26 January 2016.', 100) -}}
{{ p('PI6.\ "Epigenetics." Princess Margaret Cancer Foundation Board Retreat. Toronto, ON. 8 November 2014.', 100) -}}
{{ p('PI5.\ "Semi-automated annotation of the human genome using chromatin data." Biomedical Postdoc Seminar. University of Washington. Seattle, WA. 4 March 2013.', 100) -}}
{{ p('PI4.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." Computational Biology Group Meeting/CSE 591C. ' ~ dept ~ ' of Computer Science. Seattle, WA. 14 December 2012.', 100) -}}
{{ p('PI3.\ "Semi-automated annotation of the human genome using whole-genome RNA-seq." Postdoctoral Research Talk. ' ~ dept ~ ' of Genome Sciences. University of Washington. 16 May 2012.', 100) -}}
{{ p('PI2.\ "Segway: pattern discovery in multitrack functional genomics data." Research Reports. ' ~ dept ~ ' of Genome Sciences. University of Washington. 13 November 2009.', 100) -}}
{{ p('PI1.\ "Segway: a dynamic Bayesian network for genomic segmentation." Reading and Research in Computational Biology. CSE 590C. 4 May 2009.', 100) }}
\endenumerate

{# displayed presentations: {{ num_presentations.current }} #}

## Professional activities

### Professional activities: society leadership positions
* **Co-chair**, Ontario Region, Association of Canadian Early Career Health Researchers, 2016--2020.
* **Member**, Membership Advisory Board, New PI Slack, 2017--2020. {# 2017-07-12--2020-07 #}
* **Secretary/Treasurer**, International Society for Computational Biology Student Council, 2004. **Member**, 2003--2004.

### Professional activities: conference organizer
* **Member**, Organizing Committee, Intelligent Systems for Molecular Biology/European Conference on Computational Biology (ISCB/ECCB) Special Session on Regulatory and Systems Genomics (RegSys), 26--28 July 2021.
* **Team Leader**, Program Committee, American Society for Human Genetics (ASHG 2020). Videoconference. 27--30 October 2020.
* **Member**, Program Committee, American Society for Human Genetics (ASHG 2019). Houston, TX. 15--19 October 2019.
* **Member**, Program Committee, American Society for Human Genetics (ASHG 2018). San Diego, CA. 16--20 October 2018.
* **Member**, Organizing Committee, International Conference on Epigenetics and Bioengineering (ICEB 2018). American Institute of Chemical Engineers. San Francisco, CA. 4--6 October 2018.
* **Organizer**, Early Career Investigators Meeting on Quantitative Problems in Human Genetics and Health. Banff International Research Station. Banff, AB. 10--15 January 2016.

### Professional activities: advisory
* **Invited Participant**, TRIPOD-AI Delphi Panel, TRIPOD Group, 2021--present.
* **Member**, External Advisory Board, Tri-Agency Grants Management Solution, 2020--present.
* **Invited Participant**, National Health Research Summit, Canadian Institutes for Health Research, 2019.
* **Invited Participant**, Client Experience Workshop and Journey Map Validation, Tri-Agency Grants Management Solution, 2019.
* **Member**, Reference group for the Chief Scientist, Ontario Ministry of Research, Innovation, and Science, 2017.
* **Invited Participant**, Ontario Ministry of Research and Innovation workshop: Ontario Open Access: Accelerating Science, 2016.
* **Invited Participant**, National Human Genome Research Institute planning workshop: Planning the future of genomics: foundational research and applications in genomic medicine, 2010.

### Professional activities: session organizer or chair
* "Cell-free DNA: biological and clinical applications". Annual Meeting. American Society for Human Genetics. {% if not compact %}Videoconference. 18-22 October {% endif %}2021.
* "Plenary abstract session IV". Annual Meeting. American Society for Human Genetics. {% if not compact %}Videoconference. 30 October {% endif %}2020.
* "Late-breaking abstracts". Annual Meeting. American Society for Human Genetics. {% if not compact %}San Diego, CA. 19 October {% endif %}2018.
* "Machine learning". Biological Data Science. Cold Spring Harbor Laboratory. {% if not compact %}Cold Spring Harbor, NY. 8 November {% endif %}2018.
* "Transcriptomics and epigenomics". Probabilistic Modeling in Genomics. Cold Spring Harbor Laboratory. {% if not compact %}Cold Spring Harbor, NY. 5 November {% endif %}2018.
* "Computation and modelling in epigenetics". International Conference on Epigenetics and Bioengineering (ICEB 2018). American Institute of Chemical Engineers. {% if not compact %}San Francisco, CA. 4--6 October {% endif %}2018.
* "Statistical learning for epigenomics data." Joint Statistical Meetings (JSM). {% if not compact %}Vancouver, BC. 31 July {% endif %}2018.
* "Statistics for biopharmaceutical studies". Joint Statistical Meetings (JSM). {% if not compact %}Vancouver, BC. 31 July {% endif %}2018.
* "Data mining in genetics and genomics." Annual Meeting. Institute for Operations Research and the Management Sciences (INFORMS). {% if not compact %}Nashville, TN. 15 November {% endif %}2016.
* "Machine learning." Biological Data Sciences. Cold Spring Harbor Laboratory. {% if not compact %}Cold Spring Harbor, NY. 27 October {% endif %}2016.
* "Big data analytics in genomics." Annual Meeting. Institute for Operations Research and the Management Sciences (INFORMS). {% if not compact %}Philadelphia, PA. 2 November {% endif %}2015.
* "Epigenomics and non-coding genome." Genome Informatics. Cold Spring Harbor Laboratory. {% if not compact %}Cold Spring Harbor, NY. 29 October {% endif %}2015.
* "Genomes and big data - data integration." Fourth Annual Canadian Human and Statistical Genetics Meeting. {% if not compact %}Vancouver, BC. 19 April {% endif %}2015.
* "Genomic and epigenomic signatures in cancer." Epigenetic Mechanisms in Cancer. Structural Genomics Consortium. {% if not compact %}Toronto, ON. 4 June {% endif %}2014.
* "Genome organization and variant detection." Conference on Bioinformatics, Computational Biology and Biomedicine. Association for Computing Machinery. {% if not compact %}Washington, DC. 24 September {% endif %}2013.

### Professional activities: session organizer or chair, local
* "Data Science". Princess Margaret Research Retreat. Princess Margaret Cancer Centre. Niagara-on-the-Lake, ON. {% if not compact %}17 May {% endif %}2019.
* "Core Facilities". Princess Margaret Research Retreat. Princess Margaret Cancer Centre. Niagara-on-the-Lake, ON. {% if not compact %}17 May {% endif %}2018.

### Professional activities: funding review
* **Member**, Predictive Modeling Special Emphasis Panel, National Human Genome Research Institute, National Institutes of Health, 2021.
* **Member**, College of Reviewers, Canadian Institutes of Health Research, 2017--present.
* **Member**, Genomics: Systems and Computational Biology Peer Review Committee, Canadian Institutes of Health Research, 2017--present. **Teleconference member**, 2015.
* **Member**, Project Grant Competition Stage 2 Peer Review Cluster 13, Canadian Institutes for Health Research, 2017.
* **Member**, Project Grant Competition Stage 1 Peer Review Clusters 5/13/15/25, Canadian Institutes for Health Research, 2016--2017.
* **Member**, Program Committee, Idea DREAM Challenge, 2016--2017.
* **Member**, Institute Community Support Travel Award Peer Review Committee, Institute for Cancer Research, Canadian Institutes for Health Research, 2016.
* **Member**, Institute Community Support Travel Award for International Agency for Research on Cancer (IARC) Conference Peer Review Committee, Institute for Cancer Research, Canadian Institutes for Health Research, 2016.
* **Member**, Review Committee, Collaborative Personalized Cancer Medicine Team Grant, Princess Margaret Cancer Centre, 2015.
* *Ad hoc* external review: United Kingdom Medical Research Council, French Institute for Bioinformatics, Natural Sciences and Engineering Research Council of Canada, Canadian Statistical Sciences Institute, Banff International Research Station.
{# NSERC years: ???, 2019 #}

### Professional activities: manuscript review
* **Academic Editor**, PeerJ, 2017--present.
* **Member**, Editorial Board, Genome Biology, 2019--present.
* **Affiliate**, bioRxiv, Cold Spring Harbor Laboratory Press, 2015--present.
* **Member**, Program Committee, Meeting on Machine Learning in Computational Biology (MLCB), 2019.
* **Member**, Program Committee, Workshop on Machine Learning in Computational Biology (MLCB), Conference on Neural Information Processing Systems (NIPS), 2017.
* **Member**, Program Committee, Research in Computational Molecular Biology Satellite Workshop on Massively Parallel Sequencing (RECOMB-seq), 2016--2017.
* **Member**, Program Committee, International Joint Conference on Artificial Intelligence (IJCAI), 2015--2016.
* **Member**, Program Committee, Great Lakes Bioinformatics Conference/Canadian Computational Biology Conference (GLBIO/CCBC), 2015--2016.
* **Member**, Program Committee, Research in Computational Molecular Biology (RECOMB), 2014--2015.
* *Ad hoc* review for journals: Nature Methods, Genome Biology, Proceedings of the National Academy of Sciences{% if not compact %} of the United States of America{% endif %}, PLOS Computational Biology, Nucleic Acids Research, Scientific Reports, Bioinformatics, PLoS ONE, BMC Genomics, BMC Bioinformatics, Journal of Machine Learning Research, Database, IEEE Transactions on Computational Biology and Bioinformatics, Artificial Intelligence in Medicine, Computational and Structural Biotechnology Journal.
* *Ad hoc* review for conferences, with refereed proceedings: Intelligent Systems in Molecular Biology/European Conferences on Computational Biology (ISMB/ECCB), Research in Computational Molecular Biology (RECOMB).
{# RECOMB years: ???, 2020 #}

### Professional activities: consortium leadership positions
* **Chair**, Large-scale Integration Task Group, ENCODE Analysis Working Group, 2010--2012.

### Professional activities: institutional leadership positions and committees
* **Lead**, Indicators for Research Impact and Organizational Excellence Working Group, University Health Network, 2019--present.
* **Co-chair**, Bioinformatics Subcommittee, Cancer Genomics Program, Princess Margaret Cancer Centre, 2013--present.
* **Member**, Senior Advisory Board, Research, Princess Margaret Cancer Centre, 2019--present.
* **Member**, Collaborative Specialization Committee, Collaborative Specialization in Genome Biology and Bioinformatics, 2020--present.
* **Member**, Research Space Committee, Princess Margaret Cancer Centre, 2016--present.
* **Member**, Computational Biology Faculty Recruitment Committee, Princess Margaret Cancer Centre, 2020--present.
* **Consultant member**, Declaration of Research Assessment (DORA) Advisory Group, University Health Network, 2020--present.
* **Member**, Director of Research Search Committee, Princess Margaret Cancer Centre, 2016--2019.
* **Member**, Legacy Working Group, Medicine by Design, University of Toronto, 2017.
* **Co-organizer**, Princess Margaret Cancer Centre Research Retreat, 2015--2016. {# Huntsville, ON, Canada. 11 May 2016--13 May 2016. #}
* **Member**, Till and McCulloch Paper of the Year Selection Committee, Princess Margaret Cancer Centre, 2016--2017.
* **Member**, Graduate Admissions Committee, {{ dept }} of Computer Science, University of Toronto, 2014--2015.
* **Member**, Princess Margaret Genomics Centre Advisory Board, 2013--2015.
* **Chair**, Cambridge University Student Pugwash Society, 2006--2007. **Secretary**, 2007--2008.
* **Representative**, EMBL--European Bioinformatics Institute Predoctoral Fellow Association, 2004--2005.
* **President**, Texas Student Publications Board of Operating Trustees, 2002--2003. **Vice President**, 2001--2002. **Member**, 2000--2003.
* **Member**, College of Natural Sciences Dean's Scholars Committee, 2000--2003.
* **Founder** and **Co--President**, University of Texas at Austin Barbecue Club, 1999--2003.
* **Chair**, Texas Student Publications Handbook Revision Committee, 2002.
* **Chair**, Texas Student Publications Election Committee, 2001--2002.
* **Member**, University of Texas at Austin Information Technology Coordinating Council, 1999--2002.
* **Member**, University of Texas at Austin General Faculty Admissions and Registration Committee, 1999--2000.

### Professional activities: student committees and examinations
* **Supervisory Committee** for PhD students: {{ dept }} of Medical Biophysics, University of Toronto (James Hawley, Noel Ong).
* **Supervisory Committee** for PhD students: {{ dept }} of Computer Science, University of Toronto (TaeHyung Simon Kim, Alister D'Costa).
* **Supervisory Committee** for PhD students: {{ dept }} of Molecular Genetics, University of Toronto (Qiao Fang).
* **Supervisory Committee** for PhD students: {{ dept }} of Electrical and Computer Engineering, University of Toronto (Michael Leung).
* **Supervisory Committee** for PhD students: Institute of Medical Science, University of Toronto (Jeffrey Zuccato).
* **Supervisory Committee** for PhD students: Institute for Biomedical Engineering, University of Toronto (Ryan Lee).
* **Supervisory Committee** for MSc students: {{ dept }} of Medical Biophysics, University of Toronto (Leslie Oldfield, Anthony Mammoliti).
* **Supervisory Committee** for MSc students: {{ dept }} of Cell and Systems Biology, University of Toronto (Andrew Duncan).

* **Chair** for PhD final examinations: Institute for Medical Science, University of Toronto (James Hong).
* **Chair** for PhD final examinations: {{ dept }} of Ecology and Evolutionary Biology, University of Toronto (Eddie Ho).
* **Examiner** for PhD final examinations: School of Computing, Queen's University (Emese Somogyvari).
* **Examiner** for PhD final examinations: {{ dept }} of Medical Biophysics, University of Toronto (Sahar Ghanavati, Santosh Hariharan, Helen Zhu).
* **Examiner** for PhD final examinations: Institute for Medical Science, University of Toronto (Sarah Gagliano).
* **Examiner** for MSc final examinations: {{ dept }} of Medical Biophysics, University of Toronto (Andrew Weatherbee).
* **Examiner** for MSc final examinations: {{ dept }} of Molecular Genetics, University of Toronto (Lina Antounians).
* **Examiner** for MSc final examinations: Institute for Medical Science, University of Toronto (Kartikay Chadha).
* **Examiner** for PhD qualifying examinations: {{ dept }} of Medical Biophysics, University of Toronto (Chris Huynh).
* **Examiner** for PhD reclassification examinations: {{ dept }} of Molecular Genetics, University of Toronto (Ido Nofech-Mozes).
* **Reviewer** for MSc theses: {{ dept }} of Computer Science, University of Toronto (Aryan Arbabi).
* **Host**, Gene Researcher for a Week, 2017, 2018.
* **Judge**, Poster Session, James Lepock Memorial Student Symposium, Department of Medical Biophysics, University of Toronto, 2016, 2017, 2018, 2019.
* **Judge**, Poster Session, Annual Symposium, Medicine by Design, University of Toronto, 2016.
* **Judge**, Biohackathon, Internationally Genetically Engineered Machine (iGEM) Club, University of Toronto, 2016.
* **Judge**, Summer Student Poster Day, {{ dept }} of Medical Biophysics, University of Toronto, 2014, 2015, 2016, 2018.
* **Mentor**, National Resource for Network Biology, Google Summer of Code, 2014.

### Professional activities: memberships
* **Member**, American Society for Human Genetics, 2016, 2018--2021.
* **Member**, Canadian Artificial Intelligence Association, 2018--2019.
* **Member**, Statistical Society of Canada, 2018. {# member 5830 #}
* **Member**, Global Alliance for Genomics and Health, 2014--present. **Member**, File Formats Task Team, 2019--present.
* **Member**, Association for Computing Machinery Special Interest Group on Bioinformatics, 2013--2014.
* **Member**, National Postdoctoral Association, 2011--2013.
* **Member**, Phi Beta Kappa, 2003--present.
* **Member**, International Society for Computational Biology, 2003--2004, 2010--2011, 2015--2016, 2018--2019.
* **Junior Member**, Isaac Newton Institute for Mathematical Sciences, 2006--2013.
* **Member**, American Association for the Advancement of Science, 2007--2008.
* **Member**, Genetics Society, 2006--2007.

### Professional activities: memberships, local
* **Member**, Northwest Institute of Genetic Medicine, 2009--2013.
* **Member**, University of Washington Postdoctoral Association, 2008--2013.
* **Member**, Society of Computational Biology, 2002--2003.
* **Member**, Microbiology and Molecular Biology Student Society, 1998--1999.

## Prior positions

{% include 'positions-prior.md.jinja' %}

{% if compact and annotate %}
## Trainees, staff, and visitors
{% else %}
## Trainees and staff supervised
{% endif %}

### Trainees and staff supervised: current

{% if compact %}
\setlist*[enumerate]{leftmargin=\widthof{T99.}+0.5em}
{% endif %}

\beginenumerate
T40.\ **Yoo, Esther**. BASc Student, Division of Engineering Science, University of Toronto. 2020--present. {# 2020-05-11--present #}

T39.\ **Li, Xing Hao ("Leo")**. BASc Student, Division of Engineering Science, University of Toronto. 2020--present. {# 2020-05-11--present #}

T38.\ **Gopalakrishnan, Aparna**. HBSc Student, {{ dept }}{% if not compact %}s{% endif %} of Computer Science{% if not compact %} and Mathematics{% endif %}, University of Toronto. 2020--present. {# 2020-05-11--present #}

T37.\ **Lu, Zhiyuan ("Annie")**. BSc Student, {{ dept }}{% if not compact %}s{% endif %} of Computer Science{% if not compact %} and Statistical Sciences{% endif %}, University of Toronto. 2020--present. {# 2020-05-11--present #}

T35.\ **Huynh, Linh**. Postdoctoral Fellow, University Health Network, 2020--present.

T33.\ **Liu, Yushan ("Ida")**. HBSc Student, {{ dept }}s of Mathematics and Statistical Sciences, University of Toronto, 2019--present.
{# 2019-05-13--present #}

T31.\ **Niu, Yi Nian ("Jeffrey")**. HBSc Student, {{ dept }} of Computer Science, University of Toronto, 2019--present.
{# 2019-05-06--present #}

T27.\ **Wilson, Samantha**. Postdoctoral Fellow, University Health Network, 2018--present.
{# 2018-02-01--present #}

T15.\ **Mendez, Mickaël**. PhD Student, {{ dept }} of Computer Science, University of Toronto, 2016--present.
{# 2016-01--present #}

T9.\ **Viner, Coby**. PhD Student, {{ dept }} of Computer Science, University of Toronto, 2016--present. MSc Student{% if not compact %}, {{ dept }} of Computer Science, University of Toronto{% endif %}, 2014--2016.
{# MSc: 2014-06-02--2016-01, PhD: 2016-01--present #}
{# MSc graduation: 2016-03-15 #}

T8.\ **Roberts, Eric**. Bioinformatics Programmer, University Health Network, 2014--present.
\endenumerate

### Trainees and staff supervised: past

\beginenumerate
{% macro present_position() -%}
{% if not compact %}\
Present position: {{ caller() }}
{% endif %}
{%- endmacro %}

T36.\ **Keshavarzian, Tina**. MSc Student, {{ dept }} of Medical Biophysics, University of Toronto, 2020. {# 2020-05-11--??? #}

T34.\ **Wrana, Michael**. BComp Student, {{ dept }} of Mathematics and Statistics, Queen's University, 2019.
{% call present_position() %}BComp Student, {{ dept }} of Mathematics and Statistics, Queen's University, Kingston, ON.{% endcall %}
{# 2019-05-13-- #}

T32.\ **Reed, Siddharth**. BSc Student, {{ dept }} of Biology, McMaster University, 2019.
{# 2019-05-06--??? #}

T30.\ **Liu, Yufang ("Flora")**. BSc Student, {{ dept }} of Computer Science, University of Toronto, 2018.
{% call present_position() %}BSc Student, {{ dept }} of Computer Science, University of Toronto, Toronto, ON.{% endcall %}
{# 2018-05-07-- #}

T29.\ **McNeil, Matthew**. BSc Student, {{ dept }} of Biochemistry, University of Toronto, 2018--2019.
{% call present_position() %}MSc Student, {{ dept }} of Medical Biophysics, University of Toronto, Toronto, ON, Canada.{% endcall %}
{# 2018-04-30--2019-08-30 #}

T28.\ **Xu, Winnie**. BSc Student, {{ dept }} of Immunology, University of Toronto, 2018.
{# 2018-04-23-- #}

T26.\ **Asenjo Ponce de León, Marc**. Bachelor's Student, {% if not compact %}Barcelona {% endif %}School of Informatics, Universitat Politècnica de Catalunya, 2018.

T25.\ **Subasri, Vallijah**. MSc Student, {{ dept }} of Medical Biophysics, University of Toronto, 2017.
{% call present_position() %}MSc Student, {{ dept }} of Medical Biophysics, University of Toronto, Toronto, ON, Canada.{% endcall %}
{# 2017-09-07--sometime in 2017 #}

T24.\ **Cao, Chang**. BSc Student, {{ dept }} of Statistical Sciences, University of Toronto, 2017--2018.
{# 2017-05-08--??? #}

T23.\ **Smith, Ian**. MSc Student, {{ dept }} of Medical Biophysics, University of Toronto, 2017.
{% call present_position() %}MSc Student, {{ dept }} of Medical Biophysics, University of Toronto, Toronto, ON, Canada.{% endcall %}
{# 2017-03-20-- #}

T22.\ **Schonbach, Maya**. MSc Student, {{ dept }} of Medical Biophysics, University of Toronto, 2016.
{# 2016-10-17-- #}

T21.\ **Houlahan, Katie**. MSc Student, {{ dept }} of Medical Biophysics, University of Toronto, 2016.
{% call present_position() %}MSc Student, {{ dept }} of Medical Biophysics, University of Toronto, Toronto, ON, Canada.{% endcall %}
{# 2016-10-17-- #}

T20.\ **Hawley, James**. MSc Student, {{ dept }} of Medical Biophysics, University of Toronto, 2016.
{% call present_position() %}MSc Student, {{ dept }} of Medical Biophysics, University of Toronto, Toronto, ON, Canada.{% endcall %}

T19.\ **Nguyen, Francis**. MSc Student, {{ dept }} of Medical Biophysics, University of Toronto, 2016--2019.
{% call present_position() %}Programmer, Hospital for Sick Children, Toronto, ON, Canada.{% endcall %}

T18.\ **Bi, Haixin ("Sarah")**. Post-BSc Summer Student, Princess Margaret Cancer Centre, 2016.
{% call present_position() %}PhD Student, Computational and Systems Biology Program, Massachusetts Institute of Technology, Cambridge, MA, USA.{% endcall %}

T17.\ **Denisko, Danielle**. MSc Student, {{ dept }} of Medical Biophysics, University of Toronto, 2017--2019. BSc Student, {% if not compact %}{{ dept }} of Physics, University of Toronto, {% endif %}2016--2017.
{% call present_position() %}PhD Student, Bioinformatics and Integrative Genomics PhD Program, Harvard University, Boston, MA, USA.{% endcall %}
{# 2016-05-09--2019-11-29 #}

T16.\ **Chan, Rachel**. MSc Student, {{ dept }} of Computer Science, University of Toronto, 2018--2020. BASc Student, {% if not compact %}Science Co-op Program, University of British Columbia, {% endif %}2016--2018.
{% call present_position() %}Deep Learning Engineer, DeepX, Tokyo, Japan.{% endcall %}
{# 2016-05-02--present #}

T14.\ **Madani Tonekaboni, S.\ Ali**. PhD Student, {{ dept }} of Medical Biophysics, University of Toronto. 2015.
{% call present_position() %}PhD Student, {{ dept }} of Medical Biophysics, University of Toronto, Toronto, ON, Canada.{% endcall %}
{# 2015-09-10-- #}

T13.\ **Sood, Ankur Jai**. BESc (Honors) Student, Mechatronic Systems Engineering, {% if not compact %}University of Western Ontario{% else %}Western University{% endif %}. 2015--2019.
{% call present_position() %}Software Integration Test Engineer, Ford Motor Company, Waterloo, ON, Canada.{% endcall %}
{# 2015-05-14-- #}

T12.\ **Zeng, Xing**. BSc (Honors) Student, {% if not compact %}Undergraduate Toronto Research Experience in Computer Science,{% endif %} {{ dept }} of Computer Science, University of Toronto. 2015--2016.
{% call present_position() %}MSc Student, {{ dept }} of Computer Science, University of British Columbia, Vancouver, BC, Canada.{% endcall %}
{# 2015-05-19-- #}

T11.\ **Karimzadeh, Mehran R.** PhD Student, {{ dept }} of Medical Biophysics, University of Toronto, 2015--2020.
{# research assistant 2014-12-23--2016-08; PhD student 2016-09--??? #}

T10.\ **Chicco, Davide**. Postdoctoral Fellow, University Health Network, 2014--2018.
{% call present_position() %}Research Associate, Peter Munk Cardiac Center, University Health Network, Toronto, ON, Canada.{% endcall %}
{# 2014-09-08-- #}

T7.\ **Shaw, Adam J.** Student, Google Summer of Code, 2014.
{% call present_position() %}Software Engineer, Google, San Bruno, CA, USA.{% endcall %}

T6.\ **Petwe, Harshad S.** BS Student, {{ dept }} of Computer Science and Engineering, University of Washington, 2012.

T5.\ **Ellenbogen, Paul**. BS Student, {{ dept }} of Computer Science and Engineering, University of Washington, 2011--2013.
{% call present_position() %}PhD Student, {{ dept }} of Computer Science, Princeton University, Princeton, NJ, USA.{% endcall %}

T4.\ **Sahu, Avinash D.** MS Student, School of Communication {% if compact %}&{% else %}and{% endif %} Comp{% if not compact %}uter{% endif %} Sci{% if not compact %}ence{% endif %}, École Polytechnic Fédérale de Lausanne, 2011.
{% call present_position() %}Postdoctoral Fellow, {{ dept }} of Computer Science, University of Maryland, College Park, MD, USA.{% endcall %}

T3.\ **Staples, Jeffrey**. PhD Student, {{ dept }} of Genome Sciences, University of Washington, 2011.
{% call present_position() %}Manager, Analysis R&D, Regeneron Pharmaceuticals, Tarrytown, NY, USA.{% endcall %}

T2.\ **Lemus Vergara, Tzitziki J.** PhD Student, {{ dept }} of Genome Sciences, University of Washington, 2009.
{% call present_position() %}Postdoctoral fellow, {{ dept }} of Human Genetics and Biological Chemistry, University of California, Los Angeles, CA, USA, 2016.{% endcall %}

T1.\ **Buske, Orion J.** BS {% if not compact %}(Honors){% endif %} Student, {{ dept }} of Computer Science and Engineering, University of Washington, 2009--2010.
{% call present_position() %}CEO, Gene42, Toronto, ON, Canada.{% endcall %}
\endenumerate

{% if not (compact and annotate) %}
## Long-term visitors hosted
{% endif %}
### Long-term visitors hosted: past
\beginenumerate
V1.\ **Zamparo, Lee**. Postdoctoral Fellow, Memorial Sloan-Kettering Cancer Center, 2017--2019.
{# 2017-12-04--2019-06-30 #}
\endenumerate

## Media coverage
### Media coverage: text interviews
* ["NSF grant changes raise alarm about commitment to basic research."](https://www.nature.com/articles/d41586-020-02272-x) *Nature*. {% if not compact %}6 August {% endif %}2020.
* ["10 tips for submitting a successful preprint."](https://www.natureindex.com/news-blog/tips-how-to-most-successful-preprint-research-science-submission-study) *Nature Index*. {% if not compact %}26 May {% endif %}2020.
* ["Michael Hoffman — 46 Questions."](https://46questions.wordpress.com/2020/01/26/michael-hoffman/) *46 Questions for Scientists*. {% if not compact %}26 January {% endif %}2020.
* ["Alumni Interviews."](https://issuu.com/colastudiv/docs/ddg_nl19/22) *Dean's Distinguished Graduates Alumni Newsletter*. College of Liberal Arts, University of Texas at Austin. {% if not compact %}20 August {% endif %}2019.
* ["Human Longevity Study Sparks Questions About Face Prediction Claims, Data Sharing, Role of Preprints."](https://www.genomeweb.com/sequencing/human-longevity-study-sparks-questions-about-face-prediction-claims-data-sharing-role) GenomeWeb. {% if not compact %}8 September {% endif %}2017.
* ["An interview with Michael Hoffman."](https://www.embl-abr.org.au/michael-hoffman-interview/) *EMBL Australia Bioinformatics Resource*. {% if not compact %}3 March {% endif %}2017.
* ["Expanding the DNA alphabet to understand cancer."](https://news.oicr.on.ca/2016/12/expanding-the-dna-alphabet-to-understand-cancer/) *OICR News*. {% if not compact %}1 December {% endif %}2016.
* ["Attack of the data suckers."](http://ashclinicalnews.org/attack-of-the-data-suckers/) *ASH Clinical News*. {% if not compact %}27 April {% endif %}2016.
* ["Biden's cancer bid exposes rift among researchers."](http://www.politico.com/story/2016/01/joe-biden-cancer-researchers-rift-218465) *Politico*. {% if not compact %}31 January {% endif %}2016.
* ["NEJM Editor Backtracks on Data-Sharing 'Parasites' Editorial."](http://www.medscape.com/viewarticle/857756) *Medscape Medical News*. {% if not compact %}26 January {% endif %}2016.
* ["Strength In Numbers: Finding And Developing Bioinformaticians."](http://www.frontlinegenomics.com/147/strength-numbers-finding-developing-bioinformaticians/) *Front Line Genomics*. {% if not compact %}13 October {% endif %}2014.
* ["Kelso: For barbecue, this Texan-turned-Canadian goes to great lengths."](http://www.mystatesman.com/news/news/local/kelso-for-barbecue-this-texan-turned-canadian-goes/ngn2F/) *Austin American-Statesman*. {% if not compact %}27 July {% endif %}2014.
* ["As Biomedical Researchers Face Tough Job Market, Experts Offer Advice and Propose Changes."](https://www.genomeweb.com/biomedical-researchers-face-tough-job-market-experts-offer-advice-and-propose-ch) GenomeWeb. {% if not compact %}5 June {% endif %}2014.
* ["101 questions with a bioinformatician \#4: Michael Hoffman."](http://www.acgt.me/blog/2014/4/20/101-questions-with-a-bioinformatician-4-michael-hoffman) ACGT. {% if not compact %}20 April {% endif %}2014.
* ["Meet Michael Hoffman."](http://thepmcf.ca/News-Media/Blog/The-PMCF-Blog/January-2014/Meet-Michael-Hoffman) Princess Margaret Cancer Foundation Blog. {% if not compact %}16 January {% endif %}2014.

### Media coverage: audio interviews
* ["Using computers to understand cancer with Dr.\ Michael Hoffman."](https://www.uhn.ca/corporate/News/UHN_PodCast/Behind_the_Breakthrough/Pages/Episode10_Michael_Hoffman.aspx) Behind the Breakthrough Podcast, University Health Network. {% if not compact %}10 December {% endif %}2019.

### Media coverage: meeting reports
* ["Genome Informatics 2014."](http://www.genomebiology.com/2014/15/11/543) *Genome Biology*. {% if not compact %}22 November {% endif %}2014.

## Citizenship
* United States of America: citizen.
* Canada: citizen.
{% endblock %}
