{% extends 'base.md.jinja' %}

{% block everything %}
{% include 'head.md.jinja' %}

{% if not compact %}
## Current positions
{% endif %}

{% include 'positions-current.md.jinja' %}

## Education

{% include 'education.md.jinja' %}

## Publications

{% include 'publications.md.jinja' %}

{% if not compact %}
## Intellectual property
{% endif %}

{% include 'patent.md.jinja' %}

### Copyrights

* Segway: a dynamic Bayesian network method for segmenting genomic data. <https://segway.hoffmanlab.org/>. Canadian copyright registration number 1115448.
* Segtools: exploratory data analysis of genomic segmentations. <https://segtools.hoffmanlab.org/>. Canadian copyright registration number 1115535.
* Genomedata: a format for storing large-scale functional genomics data. <https://genomedata.hoffmanlab.org/>. Canadian copyright registration number 1115391.
* Sunflower: a model of transcription factor binding and evolution. Canadian copyright registration number 1115330.

## Recognitions {% if compact or select %}(selected){% endif %}

{% include 'recognitions.md.jinja' %}

## Funding

{% include 'funding.md.jinja' %}

{% if (not compact) or annotate %}
## Presentations
{% endif %}

{# Note: last presentation in a group must end with }} instead of -}} #}

{% include 'presentations-invited.md.jinja' %}

### Presentations: invited/keynote, local

\beginenumerate
{# XXX: title for PB24 #}
{{ p('PB24.\ Princess Margaret Cancer Centre Research Retreat. Niagara-on-the-Lake, ON. 17 May 2024.', 150) -}}
{{ p('PB23.\ ["Large language models for genomics: opportunities and challenges."](https://docs.google.com/presentation/d/1PCARcE1p1BBH8sxCj3SSO6cK_Gpb3E0TS0ckfl252z0) Colloquium on Applications of Large Language Models. ' ~ dept ~ ' of Statistical Sciences, ' ~ univ ~ ' of Toronto. Toronto, ON. 11 April 2023.') -}}
{{ p('PB22.\ "Reproducibility standards for machine learning in the life sciences." Statistical Genetics Journal Club. Strategic Training for Advanced Genetic Epidemiology, ' ~ univ ~ ' of Toronto. Videoconference. 29 April 2022.') -}}
{{ p('PB21.\ ["Reproducibility standards for machine learning in the life sciences."](https://www.youtube.com/watch?v=iDiwLwh1B-c) Workshop on Reproducibility. Canadian Statistical Sciences Institute Ontario. Videoconference. 25 February 2022.') -}}
{% if annotate %}
* Keynote.
{% endif %}
{{ p('PB20.\ "Virtual ChIP-seq: predicting transcription factor binding by learning from the transcriptome." Amgen Scholars Distinguished Speaker Seminar. Amgen Scholars Canada Program, ' ~ univ ~ ' of Toronto. Videoconference. 2 June 2021.', 33) -}}
{{ p('PB19.\ ["Segway and the Graphical Models Toolkit: a framework for probabilistic genomic inference."](https://www.youtube.com/watch?v=kQLN0BiTsOM&t=111) ' ~ univ ~ ' of Toronto Machine Intelligence Student Team, ' ~ univ ~ ' of Toronto. Videoconference. 14 January 2021.', 550) -}}
{{ p('PB18.\ "Evaluating machine learning claims." International Data Science Speaker Series. Canadian Statistical Sciences Institute, ' ~ dept ~ ' of Computer Science Master of Science in Applied Computing Program, and Rotman School of Management Master of Management Analytics Program. ' ~ univ ~ ' of Toronto. Videoconference. 21 December 2020.', 550) -}}
{{ p('PB17.\ "Modeling methyl-sensitive transcription factor motifs with an expanded epigenetic alphabet." ReGen20: The Stem Cell Project, Fifth Annual Stem Cell Conference. Student Society for Stem Cell Research, ' ~ univ ~ ' of Toronto. Toronto, ON. 29 February 2020.', 550) -}}
{{ p('PB16.\ "Virtual ChIP-seq: predicting transcription factor binding by learning from the transcriptome." Friday ML Seminar, Vector Institute. Toronto, ON. 18 January 2019.', 550) -}}
{{ p('PB15.\ "Virtual ChIP-seq: predicting transcription factor binding by learning from the transcriptome." ' ~ univ ~ ' of Toronto Machine Intelligence Student Team, ' ~ univ ~ ' of Toronto. Toronto, ON. 31 October 2017.', 550) -}}
{{ p('PB14.\ "Semi-automated human genome annotation using chromatin data." Undergraduate AI Day. Undergraduate AI Group, ' ~ univ ~ ' of Toronto. Toronto, ON. 22 November 2016.', 550) -}}
{{ p('PB13.\ "Data challenges for researchers." Reconnect16. CASRAI Canadian National Chapter. Toronto, ON. 24 October 2016.', 550) -}}
{{ p('PB12.\ "The expanded epigenetic alphabet." Ontario Research Fund Funding Announcement. Ontario Ministry of Research and Innovation. Toronto, ON. 22 August 2016', 550) -}}
{{ p('PB11.\ "100% open access: expect no less." Ontario Open Access: Accelerating Science. Ontario Ministry of Research and Innovation. Toronto, ON. 18 March 2016.', 600) -}}
{{ p('PB10.\ "Semi-automated genome annotation and an expanded epigenetic alphabet." Signals and Computational Intelligence Chapter. Toronto Section. Institute of Electrical and Electronics Engineers. Toronto, ON. 11 February 2016', 100) -}}
{{ p('PB9.\ "Modeling methyl-sensitive transcription factor motifs with an expanded epigenetic alphabet." Personalizing Cancer Medicine in 2016. Toronto, ON. 1 February 2016', 100) -}}
{{ p('PB8.\ "Modeling methyl-sensitive transcription factor motifs with an expanded epigenetic alphabet." ' ~ dept ~ ' of Medical Biophysics Annual Retreat. Geneva Park, ON. 20 October 2015.', 100) -}}
{{ p('PB7.\ "Semi-automated genome annotation and an expanded epigenetic alphabet." Program in Genetic Networks Workshop. Canadian Institute for Advanced Research. Toronto, ON. 10 April 2015.', 600) -}}
{{ p('PB6.\ "Semi-automated human genome annotation." Signals and Intelligence Chapter/Signal Processing Chapter/Engineering in Medicine and Biology Chapter. Toronto Section. Institute of Electrical and Electronics Engineers. Toronto, ON. 9 March 2015.', 500) -}}
{{ p('PB5.\ "Transcription factor binding prediction." Biohackathon. Internationally Genetically Engineered Machine (iGEM) Club. ' ~ univ ~ ' of Toronto. Toronto, ON. 22 January 2015.', 500) -}}
{{ p('PB4.\ "Machine Learning and Epigenomics." Princess Margaret Cancer Centre Research Retreat. Huntsville, ON. 15 May 2014.', 100) -}}
{{ p('PB3.\ ["Semi-automated annotation of the human genome using chromatin and RNA-seq data."](https://www.youtube.com/watch?v=3R5BPKV3iho&t=111) Toronto Bioinformatics Users Group. Toronto, ON. 27 November 2013.', 500) -}}
{{ p('PB2.\ "Student address, ' ~ univ ~ ' of Texas at Austin 120th Spring Commencement, College of Natural Sciences Convocation." Austin, TX. 17 May 2003.', 250) -}}
{{ p('PB1.\ "Student address, ' ~ univ ~ ' of Texas at Austin 55th Honors Day Convocation." Austin, TX. 12 April 2003.', 250) }}
\endenumerate

### Presentations: conference, selected from abstracts

{% macro pc(text, location, date, year, score=0) -%}
{% if compact -%}
{{ p("Q" ~ text ~ ". " ~ year ~ ".", score) }}
{% else -%}
{{ p("PC" ~ text ~ ". " ~ location ~ ". " ~ date ~ " " ~ year ~ ".", score) }}
{% endif -%}
{% endmacro -%}

{% if compact %}
\setlist*[enumerate]{leftmargin=\widthof{Q99.}+0.5em}
{% endif %}

\beginenumerate
{{ pc('21.\ "Sensitive and reproducible cell-free methylome quantification with synthetic spike-in controls." Topic-contributed session on modelling multi-scale omics data towards complex traits in medicine and agriculture. Joint Statistical Meetings', 'Toronto, ON', '10 August', 2023, 750) -}}
{{ pc('20.\ ["Viral integration transforms chromatin to drive oncogenesis."](https://www.youtube.com/watch?v=GGGg9bLLgmM) Intelligent Systems for Molecular Biology/European Conference on Computational Biology (ISMB/ECCB) 2021', 'Videoconference', '27 July', 2021, 750) -}}
{{ pc('19.\ "Inference of transcription factor binding sites in new cell types from open chromatin and gene expression data." Topic-contributed session on statistical learning for epigenomics data. Joint Statistical Meetings', 'Vancouver, BC', '31 July', 2018, 750) -}}
{{ pc('18.\ "Modeling methyl-sensitive transcription factor motifs with an expanded epigenetic alphabet." Keystone Conference on DNA and RNA Methylation', 'Vancouver, BC', '22 January', 2018, 725) -}}
{{ pc('17.\ "Modeling methyl-sensitive transcription factor motifs with an expanded epigenetic alphabet." Canadian Cancer Research Conference', 'Vancouver, BC', '7 November', 2017, 725) -}}
{{ pc('16.\ "Transcription factor expression and its effects on binding site occupancy and motif preference." Cold Spring Harbor Laboratory/Wellcome Trust Conference on Genome Informatics', 'Hinxton, England', '19 September', 2016, 725) -}}
{{ pc('15.\ ["Segway: semi-automated genome annotation."](https://www.youtube.com/watch?v=-GOML8D9iWk) Bioinformatics Open Source Conference', 'Dublin, Ireland', '10 July', 2015, 350) -}}
{{ pc('14.\ "Transcription factor binding in an expanded epigenetic alphabet." World Congress on Medical Physics. International Union for Physical and Engineering Sciences', 'Toronto, ON', '11 June', 2015, 350) -}}
{{ pc('13.\ "Transcription factor binding in an expanded epigenetic alphabet." Keystone Symposium on DNA Methylation. Keystone Symposia on Molecular and Cellular Biology', 'Keystone, CO', '1 April', 2015, 725) -}}
{{ pc('12.\ "Transcription factor motif discovery and prediction in an expanded epigenetic alphabet." Cold Spring Harbor Laboratory/Wellcome Trust Conference on Genome Informatics', 'Cambridge, England', '22 September', 2014, 725) -}}
{{ pc('11.\ "One genome, many epigenomes, machine learning." Workshop on Big Data for Health, ' ~ univ ~ ' of Toronto', 'Toronto, ON', '4 July', 2014, 300) -}}
{{ pc('10.\ "Semi-automated annotation of functional elements with whole genome RNA-seq." Machine Learning in Computational Biology 2012. Neural Information Processing Systems Conference 2012', 'Stateline, NV', '7 December', 2012, 350) -}}
{{ pc('9.\ "Functional genomics and machine learning." SynBioCon 2012', 'Austin, TX', '26 May', 2012, 300) -}}
{{ pc('8.\ "Semi-automated annotation of the human genome using whole-genome RNA-seq." ENCODE and modENCODE AWG/PI Meeting', 'Cambridge, MA', '22 May', 2012, 300) -}}
{{ pc('7.\ "Discovery of functional elements using whole-genome RNA-seq." The Biology of Genomes', 'Cold Spring Harbor, NY', '9 May', 2012, 725) -}}
{{ pc('6.\ "Chromosomal features: large-scale integration." ENCODE AWG Workshop', 'Stanford, CA', '7 March', 2011, 300) -}}
{{ pc('5.\ "Large-scale integration group update." ENCODE AWG Workshop', 'Barcelona, Spain', '20 July', 2010, 300) -}}
{{ pc('4.\ "Large-scale behavior task group." ENCODE AWG Workshop', 'Rockville, MD', '8 March', 2010, 300) -}}
{{ pc('3.\ "Segway: a dynamic Bayesian network for genomic segmentation." ENCODE and modENCODE Consortia Meeting', 'Bethesda, MD', 'Spring', 2009, 300) -}}
{{ pc('2.\ "ENCODE and Segway." ENCODE AWG Workshop', 'Rockville, MD', 'December', 2008, 300) -}}
{{ pc('1.\ "Poly: rapid development of embarrassingly parallelizable applications." Bioinformatics Open Source Conference', 'Glasgow, Scotland', 'Summer', 2004, 350) }}
\endenumerate

### Presentations: conference, selected from abstracts, trainee

\beginenumerate
{{ p('PD5.\ "Semi-automated annotation of the human genome using chromatin data." ' ~ univ ~ ' of Washington Postdoctoral Association Research Symposium. Seattle, WA. 27 November 2012.', 100) -}}
{{ p('PD4.\ "Properties of natural selection in mammalian promoters." Sanger-Cambridge PhD Symposium. Hinxton, England. Spring 2008.', 100) -}}
{{ p('PD3.\ "Sunflower: a model of transcription factor binding." European Molecular Biology Laboratory Predoctoral Fellow Retreat. Barcelona, Spain. Summer 2007.', 100) -}}
{{ p('PD2.\ "Measurements of evolution and natural selection." Trinity College Science Society Symposium. Cambridge, England. Spring 2007.', 100) -}}
{{ p('PD1.\ "Visualizing protein-DNA and protein-RNA interactions with AANT." Trinity College Science Society Symposium. Cambridge, England. 13 March 2004.', 100) }}
\endenumerate

### Presentations: invited panelist

{% macro pe(text, location, date, year, score=0) -%}
{% if compact -%}
{{ p("R" ~ text ~ ". " ~ year ~ ".", score) }}
{% else -%}
{{ p("PE" ~ text ~ ". " ~ location ~ ". " ~ date ~ " " ~ year ~ ".", score) }}
{% endif -%}
{% endmacro -%}

{% if compact %}
\setlist*[enumerate]{leftmargin=\widthof{R99.}+0.5em}
{% endif %}

\beginenumerate
{{ pe('5.\ "Career Panel and Q&A." Genome Sciences 20th Anniversary Symposium. ' ~ dept ~ ' of Genome Sciences. ' ~ univ ~ ' of Washington', 'Seattle, WA', '11 November', 2022, 200) -}}
{{ pe('4.\ ["Testbeds and Validation of Standards."](https://docs.google.com/presentation/d/1n6sHAVTh3psKUrTfLHfkK7rz2dkDqXp6G6Eg_vZn5GQ) Global Alliance for Genomics and Health (GA4GH) GA4GH Connect', 'Montréal, QC', '20 April', 2022, 250) -}}
{{ pe('3.\ ["Moving from talk to walk: Implementing open science practices at Canadian universities and research institutions."](https://www.youtube.com/watch?v=c6DYkASSj3Q) Canadian Science Policy Conference', 'Videoconference', '25 November', 2021, 250) -}}
{{ pe('2.\ "Networking." Trainee-Mentor Lunch. Annual Meeting. American Society for Human Genetics', 'Houston, TX', '17 October', 2019, 200) -}}
{{ pe('1.\ "Genomic computing challenges and perspectives." Intelligent Systems for Molecular Biology (ISMB)', 'Orlando, FL', '12 July', 2016, 250) }}
\endenumerate

### Presentations: invited panelist, local

\beginenumerate
{{ p('PF11.\ "Towards a better future for academia." Annual Retreat. ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. Rosseau, ON. 20 September 2022.', 200) -}}
{{ p('PF10.\ "Moving machine learning in -omics from bench to bedside: How can we get there faster?" OICR Translational Research Conference. Toronto, ON. 26 March 2021.', 200) -}}
{{ p('PF9.\ "Establishing a Strong Network in the Virtual World." KITE Trainee Executive Committee, Toronto Rehabilitation Institute. Toronto, ON. 6 August 2020.', 200) -}}
{{ p('PF8.\ "Rise of the machines." The Know Show. Toronto, ON. 28 August 2019', 200) -}}
{{ p('PF7.\ "Big data." Connaught International Symposium. GEMINI Connaught Program and ' ~ dept ~ ' of Immunology, ' ~ univ ~ ' of Toronto. Toronto, ON. 21 November 2016', 200) -}}
{{ p('PF6.\ "Canada\'s Research Data Management Ecosystem." Reconnect16. Canadian National Chapter, CASRAI. Toronto, ON. 24 October 2016.', 200) -}}
{{ p('PF5.\ "Health research and data." Ontario Open Access: Accelerating Science. Ontario Ministry of Research and Innovation. Toronto, ON. 18 March 2016.', 200) -}}
{{ p('PF4.\ "Geneva Election Day." ' ~ dept ~ ' of Medical Biophysics Annual Retreat. Geneva Park, ON. 19 October 2015.', 200) -}}
{{ p('PF3.\ "Informatics, Annotation, and Computing." Applied Cancer Genomics Symposium, Toronto, ON. 3 October 2014.', 200) -}}
{{ p('PF2.\ "The job search process: postdoctoral, faculty, and industry jobs." Toronto Bioinformatics Users Group. Toronto, ON. 27 November 2013.', 200) -}}
{{ p('PF1.\ "Networking." Women in Genome Sciences Discussion. ' ~ univ ~ ' of Washington. 23 February 2012.', 200) }}
\endenumerate

### Presentations: other teaching

\beginenumerate

{{ p('PG41.\ "Evaluating machine learning claims." Foundational Computational Biology, MMG 1345H.' ~ dept ~ ' of Molecular Genetics. ' ~ univ ~ ' of Toronto. 24 May 2024.', 50) -}}
{{ p('PG40.\ "Evaluating machine learning claims." Biomedical Applications of Artificial Intelligence, MBP 1413H. ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 18 January 2024.', 50) -}}
{{ p('PG39.\ "Evaluating machine learning claims." Machine Learning for Regenerative Medicine. Stem Cell Network. Videoconference. 28 June 2023.', 50) -}}
{{ p('PG38.\ "Evaluating machine learning claims." Foundational Computational Biology II, MMG 1345H.' ~ dept ~ ' of Molecular Genetics. ' ~ univ ~ ' of Toronto. 8 June 2023.', 50) -}}
{{ p('PG37.\ "Evaluating machine learning claims." Biomedical Applications of Artificial Intelligence, MBP 1413H. ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 19 January 2023.', 50) -}}
{{ p('PG36.\ "Evaluating machine learning claims." Summer Student Program.' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 26 July 2022.', 50) -}}
{{ p('PG35.\ "Evaluating machine learning claims." Foundational Computational Biology II, MMG 1345H.' ~ dept ~ ' of Molecular Genetics. ' ~ univ ~ ' of Toronto. 16 June 2022.', 50) -}}
{{ p('PG34.\ "Cancer Epigenetics." ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 18 November 2021.', 50) -}}
{{ p('PG33.\ "Evaluating machine learning claims." Summer Student Program. ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 17 August 2021.', 50) -}}
{{ p('PG32.\ ["Gene Regulation and Motif Analysis."](https://www.youtube.com/watch?v=QmOyz6bmVdg&list=PL3izGL6oi0S-xaoH8p9LnJD8RQm8eNWF2) Pathway and Network Analysis of -omic Data. Canadian Bioinformatics Workshop. 11 May 2021.', 50) -}}
{{ p('PG31.\ "Evaluating machine learning claims." Advanced Computational Biology, MMG 1345H.' ~ dept ~ ' of Molecular Genetics. ' ~ univ ~ ' of Toronto. 27 May 2021.', 50) -}}
{{ p('PG30.\ "Gene Regulation Network Analysis." Pathway and Network Analysis of -omic Data. Canadian Bioinformatics Workshop. 28 July 2020.', 50) -}}
{{ p('PG29.\ "Machine learning for epigenomics." Guest seminar for Epigenetics. ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 28 November 2019.', 50) -}}
{{ p('PG28.\ "Evaluating machine learning claims." Summer Student Program. ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 9 July 2019.', 50) -}}
{{ p('PG27.\ "Gene Regulation Network Analysis." Pathway and Network Analysis of -omic Data. Canadian Bioinformatics Workshop. 28 June 2019.', 50) -}}
{{ p('PG26.\ "Biophysics Seminar," MBP 1015Y. ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 26 September 2018--29 May 2019.', 50) -}}
{{ p('PG25.\ "Gene Regulation Network Analysis." High-throughput Biology: From Sequence to Networks. Canadian Bioinformatics Workshop. 17 March 2019.', 50) -}}
{{ p('PG24.\ "Cancer epigenomics." Guest seminar for Quantitative Cancer Genomics. ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 31 January 2019.', 50) -}}
{{ p('PG23.\ "Epigenomics." Summer Student Program. ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 7 August 2018.', 50) -}}
{{ p('PG22.\ ["Gene Regulation Network Analysis."](https://www.youtube.com/watch?v=6rdI4KaRFlM) Pathway and Network Analysis of -omic Data. 27 June 2018.', 50) -}}
{{ p('PG21.\ "Machine learning in epigenomics." Guest seminar for Epigenetics. ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 7 December 2017.', 50) -}}
{{ p('PG20.\ "Data integration and epigenomics." Advanced Sequencing Technologies and Applications. Cold Spring Harbor Laboratory. 13 November 2017.', 50) -}}
{{ p('PG19.\ "Biophysics Seminar," MBP 1015Y. ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 27 September 2017--28 March 2018.', 50) -}}
{{ p('PG18.\ ["Gene Regulation Network Analysis."](https://www.youtube.com/watch?v=WEHrbjK49l4) High-throughput Biology: From Sequence to Networks. Canadian Bioinformatics Workshop. 27 March 2017.', 50) -}}
{{ p('PG17.\ "Cancer epigenomics." Guest seminar for Quantitative Cancer Genomics. ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 2 February 2017.', 50) -}}
{{ p('PG16.\ "Semi-automated human genome annotation using chromatin data." Guest lecture for CSC 2417, ' ~ dept ~ ' of Computer Science, ' ~ univ ~ ' of Toronto. 16 November 2016.', 50) -}}
{{ p('PG15.\ "Data integration and epigenomics." Advanced Sequencing Technologies and Applications. Cold Spring Harbor Laboratory. 14 November 2016.', 50) -}}
{{ p('PG14.\ "Biophysics Seminar," MBP 1015Y. ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 2016--2017.', 50) -}}
{{ p('PG13.\ "Epigenomics." Summer Student Program. ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 30 May 2016.', 50) -}}
{{ p('PG12.\ ["Gene Regulation Network Analysis."](https://www.youtube.com/watch?v=SYDU5Ycas4Q) Pathway and Network Analysis of -omic Data. Canadian Bioinformatics Workshop. 15 June 2016.', 50) -}}
{{ p('PG11.\ "Biophysics Seminar," MBP 1015Y. ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 2015--2016.', 50) -}}
{{ p('PG10.\ "Epigenomics." Summer Student Program. ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 8 June 2015.', 50) -}}
{{ p('PG9.\ ["Gene Regulation Network Analysis."](https://www.youtube.com/watch?v=tcRS32HZGww) Pathway and Network Analysis of -omic Data. Canadian Bioinformatics Workshop. 3 June 2015.', 50) -}}
{{ p('PG8.\ "Biophysics Seminar," MBP 1015Y. ' ~ dept ~ ' of Medical Biophysics. ' ~ univ ~ ' of Toronto. 15 October 2014--2015.', 50) -}}
{{ p('PG7.\ ["Gene Regulation Network Analysis."](https://www.youtube.com/watch?v=Pc93naYd-wA) High-throughput Biology: From Sequence to Networks. Canadian Bioinformatics Workshop. 3 May 2015.', 50) -}}
{{ p('PG6.\ ["Transcription Factor Regulatory Analysis."](https://www.youtube.com/watch?v=OyK-1-zv2es) Pathway and Network Analysis of omics Data. Canadian Bioinformatics Workshop, 4 June 2014.', 50) -}}
{{ p('PG5.\ "Introduction to ENCODE" and "The Segway annotation of the ENCODE Data." Iowa Institute of Human Genetics Bioinformatics Short Course. Taught two one-hour lectures. ' ~ univ ~ ' of Iowa. 30--31 July 2013.', 50) -}}
{{ p('PG4.\ "Genes and gambling: using probability to make sense of biology." Guest lecture for undergraduate computer science course, Bellevue College. Winter 2010.', 50) -}}
{{ p('PG3.\ "Introduction to Python." Taught two-day seminar. European Molecular Biology Laboratory. Autumn 2005.', 50) -}}
{{ p('PG2.\ "EMBL Predoctoral Bioinformatics Workshop." Organizing committee member and teaching assistant for three-day course. European Molecular Biology Laboratory. Autumn 2004.', 50) -}}
{{ p('PG1.\ "Biological sequence analysis." Discussion leader for eight-week seminar. ' ~ univ ~ ' of Texas at Austin Society for Computational Biology. Summer 2003.', 50) }}
\endenumerate

### Presentations: other seminars

\beginenumerate
{{ p('PH19.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." ' ~ dept ~ ' of Genetics. ' ~ univ ~ ' of Pennsylvania. Philadelphia, PA. 25 July 2013.', 775) -}}
{{ p('PH18.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." Ontario Cancer Institute. Toronto, ON. 4 July 2013.', 600) -}}
{{ p('PH17.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." Institute for Human Genetics. ' ~ univ ~ ' of California, San Francisco. San Francisco, CA. 21 March 2013.', 775) -}}
{{ p('PH16.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." Analytical and Translational Genetics Unit. Massachusetts General Hospital. 24 April 2013.', 775) -}}
{{ p('PH15.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." ' ~ dept ~ ' of Electrical and Computer Engineering. ' ~ univ ~ ' of Texas at Austin. 22 April 2013.', 675) -}}
{{ p('PH14.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." The Jackson Laboratory. Bar Harbor, ME. 11 March 2013.', 675) -}}
{{ p('PH13.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." McKusick-Nathans Institute of Genetic Medicine. Johns Hopkins ' ~ univ ~ '. Baltimore, MD. 7 March 2013.', 775) -}}
{{ p('PH12.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." ' ~ dept ~ ' of Human Genetics. ' ~ univ ~ ' of Utah. Salt Lake City, UT. 25 February 2013.', 675) -}}
{{ p('PH11.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." National Eye Institute. ' ~ nih ~ '. Bethesda, MD. 30 January 2013.', 675) -}}
{{ p('PH10.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." ' ~ dept ~ ' of Molecular and Medical Genetics. Oregon Health and Science ' ~ univ ~ '. Portland, OR. 23 January 2013.', 675) -}}
{{ p('PH9.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." ' ~ dept ~ ' of Human Genetics. Emory ' ~ univ ~ '. Atlanta, GA. 14 January 2013.', 750) -}}
{{ p('PH8.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." McDermott Center for Human Growth and Development/Center for Human Genetics. ' ~ univ ~ ' of Texas Southwestern Medical Center. Dallas, TX. 7 January 2013.', 675) -}}
{{ p('PH7.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." Earl Stadtman Symposium on Genetics, Genomics, and Systems Biology. Division of Intramural Research. ' ~ nih ~ '. Bethesda, MD. 17 December 2012.', 750) -}}
{{ p('PH6.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." Program in Bioinformatics and Integrative Biology. ' ~ univ ~ ' of Massachusetts Medical School. Worcester, MA. 10 December 2012.', 675) -}}
{{ p('PH5.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." ' ~ dept ~ ' of Pediatrics. ' ~ univ ~ ' of California, San Diego. 4 June 2012.', 675) -}}
{{ p('PH4.\ "Unsupervised and semi-supervised pattern discovery in human chromatin\ structure." Section of Genetic Medicine. ' ~ univ ~ ' of Chicago. Chicago, IL. 23 April 2012.', 775) -}}
{{ p('PH3.\ "Simultaneous segmentation of multiple functional genomics data sets with heterogeneous patterns of missing data." ' ~ dept ~ ' of Computer Science. Colorado State ' ~ univ ~ '. Fort Collins, CO. 10 April 2012.', 700) -}}
{{ p('PH2.\ "Properties of natural selection in mammalian promoters." Seminar, Broad Institute of MIT and Harvard. Cambridge, MA. 9 April 2008.', 775) -}}
{{ p('PH1.\ "Properties of natural selection in mammalian promoters." Seminar, Program in Bioinformatics and Integrative Biology, ' ~ univ ~ ' of Massachusetts Medical School. Worcester, MA. 25 March 2008.', 750) }}
\endenumerate

### Presentations: other seminars, local

\beginenumerate
{{ p('PI9.\ "Modeling methyl-sensitive transcription factors with an expanded epigenetic alphabet." Annual Meeting. Acute Leukemia Translational Research Initiative. Ontario Institute for Cancer Research. Toronto, ON. 1 February 2016.', 100) -}}
{{ p('PI8.\ "Methyl-sensitive transcription factors in brain cancers." Brain Cancer Translational Research Initiative Workshop. Ontario Institute for Cancer Research. Toronto, ON. 1 February 2016.', 100) -}}
{{ p('PI7.\ "Deciphering leukemia stemness programs with an expanded epigenetic alphabet." Acute Leukemia Translational Research Initiative Workshop. Ontario Institute for Cancer Research. Toronto, ON. 26 January 2016.', 100) -}}
{{ p('PI6.\ "Epigenetics." Princess Margaret Cancer Foundation Board Retreat. Toronto, ON. 8 November 2014.', 100) -}}
{{ p('PI5.\ "Semi-automated annotation of the human genome using chromatin data." Biomedical Postdoc Seminar. ' ~ univ ~ ' of Washington. Seattle, WA. 4 March 2013.', 100) -}}
{{ p('PI4.\ "Semi-automated annotation of the human genome using chromatin and RNA-seq data." Computational Biology Group Meeting/CSE 591C. ' ~ dept ~ ' of Computer Science. Seattle, WA. 14 December 2012.', 100) -}}
{{ p('PI3.\ "Semi-automated annotation of the human genome using whole-genome RNA-seq." Postdoctoral Research Talk. ' ~ dept ~ ' of Genome Sciences. ' ~ univ ~ ' of Washington. 16 May 2012.', 100) -}}
{{ p('PI2.\ "Segway: pattern discovery in multitrack functional genomics data." Research Reports. ' ~ dept ~ ' of Genome Sciences. ' ~ univ ~ ' of Washington. 13 November 2009.', 100) -}}
{{ p('PI1.\ "Segway: a dynamic Bayesian network for genomic segmentation." Reading and Research in Computational Biology. CSE 590C. 4 May 2009.', 100) }}
\endenumerate

{# displayed presentations: {{ num_presentations.current }} #}

## Professional activities

{% include 'leadership-society.md.jinja' %}

{% include 'advisory-peer-review.md.jinja' %}

{% include 'leadership-institutional.md.jinja' %}

### Professional activities: student committees and examinations
* **Supervisory Committee** for PhD students: {{ dept }} of Medical Biophysics, {{ univ }} of Toronto: James Hawley, Noel Ong, Mykhaylo ("Michael") Slobodyanyuk, Yuan ("William") Gao, Mohamed Alias
* **Supervisory Committee** for PhD students: {{ dept }} of Computer Science, {{ univ }} of Toronto: TaeHyung Simon Kim, Alister D'Costa
* **Supervisory Committee** for PhD students: {{ dept }} of Molecular Genetics, {{ univ }} of Toronto: Qiao Fang
* **Supervisory Committee** for PhD students: {{ dept }} of Electrical and Computer Engineering, {{ univ }} of Toronto: Michael Leung
* **Supervisory Committee** for PhD students: Institute of Medical Science, {{ univ }} of Toronto: Jeffrey Zuccato
* **Supervisory Committee** for PhD students: Institute for Biomedical Engineering, {{ univ }} of Toronto: Ryan Lee
* **Supervisory Committee** for MSc students: {{ dept }} of Medical Biophysics, {{ univ }} of Toronto: Leslie Oldfield, Anthony Mammoliti, Emma Collier, Tingxiao ("Victoria") Gao
* **Supervisory Committee** for MSc students: {{ dept }} of Cell and Systems Biology, {{ univ }} of Toronto: Andrew Duncan
* **Supervisory Committee** for MSc students: {{ dept }} of Biochemistry, {{ univ }} of Toronto: Natalie Kwong
* **Chair** for PhD final examinations: Institute for Medical Science, {{ univ }} of Toronto: James Hong
* **Chair** for PhD final examinations: {{ dept }} of Ecology and Evolutionary Biology, {{ univ }} of Toronto: Eddie Ho
* **Examiner** for PhD final examinations: School of Computing, Queen's {{ univ }}: Emese Somogyvari
* **Examiner** for PhD final examinations: {{ dept }} of Medical Biophysics, {{ univ }} of Toronto: Sahar Ghanavati, Santosh Hariharan, Helen Zhu
* **Examiner** for PhD final examinations: Institute for Medical Science, {{ univ }} of Toronto: Sarah Gagliano
* **Examiner** for MSc final examinations: {{ dept }} of Medical Biophysics, {{ univ }} of Toronto: Andrew Weatherbee
* **Examiner** for MSc final examinations: {{ dept }} of Molecular Genetics, {{ univ }} of Toronto: Lina Antounians, Farzan Taj
* **Examiner** for MSc final examinations: Institute for Medical Science, {{ univ }} of Toronto: Kartikay Chadha
* **Examiner** for PhD qualifying examinations: {{ dept }} of Medical Biophysics, {{ univ }} of Toronto: Kevin Cheng, Chris Huynh
* **Examiner** for PhD reclassification examinations: {{ dept }} of Molecular Genetics, {{ univ }} of Toronto: Ido Nofech-Mozes
* **Reviewer** for MSc theses: {{ dept }} of Computer Science, {{ univ }} of Toronto: Aryan Arbabi
* **Host**, Gene Researcher for a Week, 2017, 2018.
* **Judge**, Poster Session, James Lepock Memorial Student Symposium, {{ dept }} of Medical Biophysics, {{ univ }} of Toronto, 2016, 2017, 2018, 2019.
* **Judge**, Poster Session, Annual Symposium, Medicine by Design, {{ univ }} of Toronto, 2016.
* **Judge**, Biohackathon, Internationally Genetically Engineered Machine (iGEM) Club, {{ univ }} of Toronto, 2016.
* **Judge**, Summer Student Poster Day, {{ dept }} of Medical Biophysics, {{ univ }} of Toronto, 2014, 2015, 2016, 2018.
* **Mentor**, National Resource for Network Biology, Google Summer of Code, 2014.

### Professional activities: memberships
* **Member**, American Society for Human Genetics, 2016, 2018--2023.
* **Member**, Human Cell Atlas, 2023--present.
* **Member**, Global Alliance for Genomics and Health, 2014--present. **Member**, File Formats Task Team, 2019--present.
* **Member**, International Society for Computational Biology, 2003--2004, 2010--2011, 2015--2016, 2018--2019, 2021--2022.
* **Member**, Canadian Artificial Intelligence Association, 2018--2019.
* **Member**, Statistical Society of Canada, 2018. {# member 5830 #}
* **Member**, Association for Computing Machinery Special Interest Group on Bioinformatics, 2013--2014.
* **Member**, National Postdoctoral Association, 2011--2013.
* **Member**, Phi Beta Kappa, 2003--present.
* **Junior Member**, Isaac Newton Institute for Mathematical Sciences, 2006--2013.
* **Member**, American Association for the Advancement of Science, 2007--2008.
* **Member**, Genetics Society, 2006--2007.

### Professional activities: memberships, local
* **Member**, Northwest Institute of Genetic Medicine, 2009--2013.
* **Member**, {{ univ }} of Washington Postdoctoral Association, 2008--2013.
* **Member**, Society of Computational Biology, 2002--2003.
* **Member**, Microbiology and Molecular Biology Student Society, 1998--1999.

## Prior positions

{% include 'positions-prior.md.jinja' %}

{% if compact and annotate %}
## Trainees, staff, and visitors
{% else %}
## Trainees and staff supervised
{% endif %}

{% include 'supervision.md.jinja' %}

{% if not (compact and annotate) %}
## Long-term visitors hosted
{% endif %}
### Long-term visitors hosted: past
\beginenumerate
V1.\ **Zamparo, Lee**. Postdoctoral Fellow, Memorial Sloan-Kettering Cancer Center, 2017--2019.
{% call present_position() %}Applied Research Scientist, ServiceNow, Toronto ON, Canada.{% endcall %}
{# 2017-12-04--2019-06-30 #}
\endenumerate

## Media coverage
### Media coverage: text interviews
* ["NSF grant changes raise alarm about commitment to basic research."](https://www.nature.com/articles/d41586-020-02272-x) *Nature*. {% if not compact %}6 August {% endif %}2020.
* ["10 tips for submitting a successful preprint."](https://www.natureindex.com/news-blog/tips-how-to-most-successful-preprint-research-science-submission-study) *Nature Index*. {% if not compact %}26 May {% endif %}2020.
* ["Michael Hoffman — 46 Questions."](https://46questions.wordpress.com/2020/01/26/michael-hoffman/) *46 Questions for Scientists*. {% if not compact %}26 January {% endif %}2020.
* ["Alumni Interviews."](https://issuu.com/colastudiv/docs/ddg_nl19/22) *Dean's Distinguished Graduates Alumni Newsletter*. {% if not compact %}College of Liberal Arts, {% endif %}{{ univ }} of Texas at Austin. {% if not compact %}20 August {% endif %}2019.
* ["Human Longevity Study Sparks Questions About Face Prediction Claims, Data Sharing, Role of Preprints."](https://www.genomeweb.com/sequencing/human-longevity-study-sparks-questions-about-face-prediction-claims-data-sharing-role) GenomeWeb. {% if not compact %}8 September {% endif %}2017.
* ["An interview with Michael Hoffman."](https://www.embl-abr.org.au/michael-hoffman-interview/) *EMBL Australia Bioinformatics Resource*. {% if not compact %}3 March {% endif %}2017.
* ["Expanding the DNA alphabet to understand cancer."](https://news.oicr.on.ca/2016/12/expanding-the-dna-alphabet-to-understand-cancer/) *OICR News*. {% if not compact %}1 December {% endif %}2016.
* ["Attack of the data suckers."](http://ashclinicalnews.org/attack-of-the-data-suckers/) *ASH Clinical News*. {% if not compact %}27 April {% endif %}2016.
* ["Biden's cancer bid exposes rift among researchers."](http://www.politico.com/story/2016/01/joe-biden-cancer-researchers-rift-218465) *Politico*. {% if not compact %}31 January {% endif %}2016.
* ["NEJM Editor Backtracks on Data-Sharing 'Parasites' Editorial."](http://www.medscape.com/viewarticle/857756) *Medscape Medical News*. {% if not compact %}26 January {% endif %}2016.
* ["Strength In Numbers: Finding And Developing Bioinformaticians."](http://www.frontlinegenomics.com/147/strength-numbers-finding-developing-bioinformaticians/) *Front Line Genomics*. {% if not compact %}13 October {% endif %}2014.
* ["Kelso: For barbecue, this Texan-turned-Canadian goes to great lengths."](http://www.mystatesman.com/news/news/local/kelso-for-barbecue-this-texan-turned-canadian-goes/ngn2F/) *Austin American-Statesman*. {% if not compact %}27 July {% endif %}2014.
* ["As Biomedical Researchers Face Tough Job Market, Experts Offer Advice and Propose Changes."](https://www.genomeweb.com/biomedical-researchers-face-tough-job-market-experts-offer-advice-and-propose-ch) GenomeWeb. {% if not compact %}5 June {% endif %}2014.
* ["101 questions with a bioinformatician \#4: Michael Hoffman."](http://www.acgt.me/blog/2014/4/20/101-questions-with-a-bioinformatician-4-michael-hoffman) ACGT. {% if not compact %}20 April {% endif %}2014.
* ["Meet Michael Hoffman."](http://thepmcf.ca/News-Media/Blog/The-PMCF-Blog/January-2014/Meet-Michael-Hoffman) Princess Margaret Cancer Foundation Blog. {% if not compact %}16 January {% endif %}2014.

### Media coverage: audio interviews
* ["Using computers to understand cancer with Dr.\ Michael Hoffman."](https://www.uhn.ca/corporate/News/UHN_PodCast/Behind_the_Breakthrough/Pages/Episode10_Michael_Hoffman.aspx) Behind the Breakthrough Podcast, {{ uhn }}. {% if not compact %}10 December {% endif %}2019.

### Media coverage: meeting reports
* ["Genome Informatics 2014."](http://www.genomebiology.com/2014/15/11/543) *Genome Biology*. {% if not compact %}22 November {% endif %}2014.

## Citizenship
* {% if compact %}Citizen of United States of America and Canada.{% else %}United States of America: citizen.
* Canada: citizen.{% endif %}
{% endblock %}
