**Senior Fellow**{{ fieldsep }}
{{ dept }} of Genome Sciences, University of Washington, Seattle, WA, 2008--2013.{{ recordsep }}
{% if not compact and not select %}

* Mentor: Dr.\ William Stafford Noble, Professor
* National Human Genome Research Institute K99/R00 Pathway to Independence Award

\vspace{3ex}
{% endif %}
**Doctor of Philosophy, Bioinformatics**{{ fieldsep }}
University of Cambridge (Trinity College), Cambridge, UK, 2003--2008.{{ recordsep }}
{% if not compact and not select %}

* Adviser: Dr.\ Ewan Birney, Director, European Bioinformatics Institute
* Marshall Scholar
* National Science Foundation Graduate Research Fellow

\vspace{3ex}
{% endif %}{% if compact %}
**Bachelor of Science, Biochemistry** & **Bachelor of Arts, Plan II Honors**,
{% else %}
**Bachelor of Science, Biochemistry, with Highest Honors, Special Honors**\
**Bachelor of Arts, Plan II Honors Liberal Arts, with Highest Honors**\
{% endif %}University of Texas at Austin, Austin, TX, 1998--2003.

{% if not compact and not select %}
* Adviser: Dr.\ Andrew D. Ellington, Professor
* College of Natural Sciences Commencement Speaker, Dean's Honored Graduate
* College of Liberal Arts Dean's Distinguished Graduate
* University Honors
{% endif %}
