{% if compact %}
\setlist*[enumerate]{leftmargin=\widthof{F99.}+0.5em}
{% endif %}

### Funding: lead principal investigator

\beginenumerate
F21.\ "Computational methods for chromatin data."
{{ nserc }}.
{% if not verycompact %}Discovery Grant.
{% endif %}{% if not compact %}5 years, direct costs {% endif %}CAD\ 240,000.
{% if not compact %}April {% endif %}2022--{% if not compact %}March {% endif %}2027. {# RGPIN-2022-05134 #}

F20.\ Essential Oncology Software for Research.
{% if not verycompact %}Princess Margaret Data Science Program, {% endif %}{{ uhn }}.
{% if not compact %}8 months, direct costs {% endif %}CAD\ 16,500.
{% if not compact %}August {% endif %}2021--{% if not compact %}May {% endif %}2022.

F19.\ Canada Research Continuity Emergency Fund.
{% if not verycompact %}Canada Research Coordinating Committee.
{% endif %}{% if not compact %}24 weeks, direct costs {% endif %}CAD\ 65,452.
{% if not compact %}October {% endif %}2020--{% if not compact %}February {% endif %}2021.

F17.\ "Genome-wide cell-free DNA methylation enrichment and sequencing for preeclampsia diagnosis."
McLaughlin Centre.
{% if not verycompact %}Accelerator Grant{% if not compact %} in Genomic Medicine and Health Informatics{% endif %}.
{% endif %}{% if not compact %}1 year, direct costs {% endif %}CAD\ 80,000.
{% if not compact %}May {% endif %}2019--{% if not compact %}April {% endif %}2020. {# MC-2019-07 #}

F16.\ "DNA methylation profiling in cell-free DNA: a non-invasive method to screen for pre-term birth."
{{ cihr }}.
{% if not verycompact %}Project Grant.
{% endif %}{% if not compact %}6 years, direct costs {% endif %}CAD\ 1,237,817. {# initial 1,212,525 + 25,292 COVID supplement #}
{% if not compact %}April {% endif %}2019--{% if not compact %}March {% endif %}2024. {# 408773 --- in some cases instead used 389866 which is a CRIS web internal ID #}

F15.\ "Virtual ChIP-seq."
Nvidia{% if not verycompact %} GPU Grant{% endif %}.
In-kind, USD\ 4999. {# CAD\ 6289.35 using OANDA rate of 1.258121 CAD/USD on 2018-02-12 #}
{% if not compact %}February {% endif %}2018.

F11.\ "Comprehending epigenomic changes in gene dysregulation and cancer using machine learning."
{{ cihr }} New Investigator Salary Award.
{% if not compact %}5 years, direct costs {% endif %}CAD\ 300,000.
{% if not compact %}March {% endif %}2017--{% if not compact %}February {% endif %}2022. {# 201512MSH-360970 #}

F10.\ "The expanded epigenetic alphabet: transcription factor binding in methylated DNA and beyond."
Ontario {% if not compact %}Ministry of Economic Development, Job Creation and Trade.
Ontario Research Fund:
{% endif %}Early Researcher Award.
{% if not compact %}5 years, total costs {% endif %}CAD\ 140,000.
{% if not compact %}April {% endif %}2016--{% if not compact %}March {% endif %}2021. {# ER15-11-233 #}

F9.\ "Epigenetic DNA modifications as drivers of leukemia gene expression programs."
Canadian Cancer Society.
{% if not verycompact %}Innovation Grant.
{% endif %}{% if not compact %}Awarded: 3 years, direct costs CAD\ 200,000.
Actual: {% endif %}{% if not compact %}3 years, direct costs {% endif %}CAD\ 199,000{% if not compact %} (sponsor-wide cut to continuing grants){% endif %}.
{% if not compact %}August {% endif %}2015--{% if not compact %}July {% endif %}2018. {# 703827 #}

F8.\ "Interpreting epigenetic DNA modifications in glioblastoma stem cells."
McLaughlin Centre.
Accelerator Grant in Genomic Medicine and Health Informatics.
{% if not compact %}1 year, direct costs {% endif %}CAD\ 65,000.
{% if not compact %}May {% endif %}2015--{% if not compact %}April {% endif %}2016. {# MC-2015-06 #}

F7.\ "Transcription factor recognition models with modified nucleobases."
{{ nserc }}.
{% if not verycompact %}Discovery Grant.
{% endif %}{% if not compact %}7 years, direct costs {% endif %}CAD\ 247,192.83. {# 35,000/year * 7 + 2,192.83 supplement #}
{% if not compact %}April {% endif %}2015--{% if not compact %}March {% endif %}2022. {# RGPIN-2015-3948 #}

{% if not nostartup %}
{% include 'startup.md' %}
{% endif %}

F2.\ "Pattern discovery for comparative epigenomics."
{{ nih }}/National Human Genome Research Institute.
Pathway to Independence Award ({% if not compact %}Parent {% endif %}K99/R00).
{% if not compact %}Awarded: 5 years, total costs USD\ 966,069.
Actual: {% endif %}{% if not compact %}2 years, total costs {% endif %}USD\ 206,244{% if not compact %} (no longer eligible for R00 portion after move to Canada){% endif %}.
{% if not compact %}September {% endif %}2011--{% if not compact %}October {% endif %}2013.

F1.\ Graduate research fellowship.
National Science Foundation.
{% if not compact %}5 years, direct costs {% endif %}USD\ 142,872.
{% if not compact %}September {% endif %}2003--{% if not compact %}August {% endif %}2008.

\endenumerate

### Funding: co-principal investigator

\beginenumerate
F14.\ "Acute Leukemia Translational Research Initiative."
{% if verycompact %}OICR{% else %}Ontario Institute for Cancer Research{% endif %}.
{% if not compact %}2 years, total costs {% endif %}CAD\ 9,743,920.
{% if not compact %}April {% endif %}2017--{% if not compact %}September {% endif %}2021.
{% if not compact %}Lead principal investigators: John E.\ Dick, Aaron D.\ Schimmer.{% endif %} {# AL-TRI-FR-UHN #}

F13.\ "Deciphering and manipulating cell-specific regulatory network to produce therapeutic designer cells."
Medicine by Design{% if not verycompact %}, {{ univ }} of Toronto.
Team Project Award{% endif %}.
{% if not compact %}3 years, direct costs {% endif %}CAD\ 314,309.
{% if not compact %}September {% endif %}2016--{% if not compact %}August {% endif %}2019.
{% if not compact %}Lead principal investigator: Jason Fish.{% endif %} {# C1TPA-2016-04 #}

F12.\ "Regulatory network control of neural stem cells for endogenous repair."
Medicine by Design{% if not verycompact %}, {{ univ }} of Toronto.
Team Project Award{% endif %}.
{% if not compact %}3 years, direct costs {% endif %}CAD\ 3,053,789.
{% if not compact %}September {% endif %}2016--{% if not compact %}August {% endif %}2019.
{% if not compact %}Lead principal investigator: Gary Bader.{% endif %} {# C1TPA-2016-01 #}

\endenumerate

### Funding: co-investigator

\beginenumerate
F21.\ "Phenomic liquid biopsy resource."
{% if not verycompact %}Data Transformation Grant.
{% endif %}Canadian Cancer Society.
{% if not compact %}1 year, direct costs {% endif %}CAD 125,000.
{% if not compact %}March {% endif %}2022--{% if not compact %}March {% endif %}2023.
{% if not verycompact %}Lead principal investigator: Trevor Pugh.{% endif %}

F18.\ "Lung cancer early detection and classification using methylome analysis of plasma cell free DNA."
{{ cihr }}.
{% if not verycompact %}Project Grant.
{% endif %}{% if not compact %}4 years, direct costs {% endif %}CAD 995,264.
{% if not compact %}October {% endif %}2019--{% if not compact %}September {% endif %}2023.
{% if not verycompact %}Lead principal investigators: Scott V.\ Bratman, Geoffrey Liu.{% endif %} {# 420085 #}

F6.\ "Cancer Stem Cell Program."
Ontario Institute for Cancer Research.
{% if not compact %}2 years, total costs {% endif %}CAD\ 5,436,364.
{% if not compact %}April {% endif %}2015--{% if not compact %}March {% endif %}2017.
{% if not verycompact %}Lead principal investigator: John E.\ Dick.{% endif %} {# CSC-PRAR-UHN #}

F5.\ "Sequence variation and DNA methylation patterning."
{{ nserc }}.
Discovery Grant.
{% if not compact %}5 years, direct costs {% endif %}CAD\ 160,000.
Hoffman Lab: {% if not compact %}January {% endif %}2015--{% if not compact %}January {% endif %}2017.
{% if not verycompact %}Lead principal investigator: Carl P.\ Ernst.{% endif %} {# RGPIN-2013-435512 #}

\endenumerate
