# Michael M. Hoffman

{% if not compact %}
101 College St PMCRT 11-311\
Toronto, ON M5G 1L7

Work +1 416 581 7481\
E-mail michael.hoffman@utoronto.ca\
ORCID [0000-0002-4517-1562](http://orcid.org/0000-0002-4517-1562)
{% endif %}
