### Professional activities: society leadership positions
* **Co-chair**, Ontario Region, Association of Canadian Early Career Health Researchers, 2016--2020.
* **Member**, Membership Advisory Board, New PI Slack, 2017--2020. {# 2017-07-12--2020-07 #}
* **Secretary/Treasurer**, International Society for Computational Biology Student Council, 2004. **Member**, 2003--2004.
