{% if not compact %}#{% endif %}## Patents and patent applications

* [Synthetic spike-in controls for cell-free MeDIP sequencing and methods of using same.](https://patents.google.com/patent/WO2021087615A1/) Patent application PCT/CA2020/051507. 6 November 2020. Patent granted in United Kingdom: [GB2609715](https://www.search-for-intellectual-property.service.gov.uk/GB2609715). 7 additional national and regional applications. Licensed to Adela. {# EP, BR, CA, KR, CN, JP, US #}
