{% if not compact %}#{% endif %}## Patent applications

* [Synthetic spike-in controls for cell-free MeDIP sequencing and methods of using same.](https://patents.google.com/patent/WO2021087615A1/) Patent application PCT/CA2020/051507. 6 November 2020. 8 national and regional applications. Licensed to Adela.
