**Senior Scientist**{{ fieldsep }}Princess Margaret Cancer Centre, Toronto, ON, {# 3 September #}2020--present.{{ recordsep }}

**Associate Professor{% if statusonly %} (status-only){% endif %}**{{ fieldsep }}Dep{% if compact %}ts{% else %}artment{% endif %} of Medical Biophysics{% if compact %} & Computer Science{% endif %}, University of Toronto, Toronto, ON, {# 1 July #}2020--present{% if not compact %}\
Department of Computer Science, University of Toronto, Toronto, ON, {# 1 July #}2020--present{% endif %}.

{% if not compact %}
**Faculty Affiliate**{{ fieldsep }}Vector Institute, Toronto, ON, 2018--present.

**Full Member, Graduate Faculty**\
School of Graduate Studies, University of Toronto, Toronto, ON, 2017--present.

**Member**\
Collaborative Graduate Program in Genome Biology and Bioinformatics, University of Toronto, Toronto, ON, 2016--present.

**Member**\
Temerty Centre for Artificial Intelligence Research and Education in Medicine, University of Toronto, Toronto, ON, 2020--present.
{% endif %}
