**Scientist**{{ fieldsep }}Princess Margaret Cancer Centre, Toronto, ON, {# 4 November #}2013--{# 2 September #}2020.{{ recordsep }}

**Assistant Professor{% if statusonly %} (status-only){% endif %}**\
{{ dept }} of Medical Biophysics, University of Toronto, Toronto, ON, {# 1 April #}2014--{# 30 June #}2020.\
{{ dept }} of Computer Science, University of Toronto, Toronto, ON, {# 1 September #}2014--{# 30 June #}2020.

**Associate Member, Graduate Faculty**\
School of Graduate Studies, University of Toronto, Toronto, ON, 2014--2017.

**Senior Fellow**\
{{ dept }} of Genome Sciences, University of Washington, 2008--2013.

**Predoctoral Fellow**\
EMBL--European Bioinformatics Institute, 2003--2008.

**Research Assistant**\
{{ dept }} of Chemistry and Biochemistry, The University of Texas at Austin, 1999--2003.

**Undergraduate Research Program Participant**\
Cold Spring Harbor Laboratory, 2001.

**Undergraduate Research Fellow**\
Plant Biochemistry Research Training Center, Washington State University, 2000.
