**Assoc{% if verycompact %}.\ {% else %}iate {% endif %}Professor{% if statusonly %} (status-only){% endif %}**{{ fieldsep }}Dep{% if compact %}t{% else %}artment{% endif %} of Computer Science, {{ univ }} of Toronto, {% if not compact %}Toronto, ON, {# 1 July #}{% endif %}2020--{# 30 June #}2024.
{{ recordsep }}
**Scientist**{{ fieldsep }}Princess Margaret Cancer Centre, University Health Network, {% if not compact %}Toronto, ON, {# 4 November #}{% endif %}2013--{# 2 September #}2020.
{{ recordsep }}
**Assistant Professor{% if statusonly %} (status-only){% endif %}**{{ fieldsep }}Dep{% if compact %}ts{% else %}artment{% endif %} of Medical Biophysics{% if compact %} & Computer Science{% endif %}, {{ univ }} of Toronto, {% if not compact %}Toronto, ON, {% endif %}{# 1 April #}2014--{# 30 June #}2020{% if not compact %}\
Department of Computer Science, {{ univ }} of Toronto, Toronto, ON, {# 1 September #}2014--{# 30 June #}2020{% endif %}.

{% if not compact %}
**Associate Member, Graduate Faculty**\
School of Graduate Studies, {{ univ }} of Toronto, Toronto, ON, 2014--2017.

**Senior Fellow**\
{{ dept }} of Genome Sciences, {{ univ }} of Washington, 2008--2013.

**Predoctoral Fellow**\
EMBL--European Bioinformatics Institute, 2003--2008.

**Research Assistant**\
{{ dept }} of Chemistry and Biochemistry, {{ univ }} of Texas at Austin, 1999--2003.

**Undergraduate Research Program Participant**\
Cold Spring Harbor Laboratory, 2001.

**Undergraduate Research Fellow**\
Plant Biochemistry Research Training Center, Washington State {{ univ }}, 2000.
{% endif %}
