{% if not compact and not select %}
### Recognitions: honors
{% endif %}

* Canadian Institutes of Health Research New Investigator, 2017--2022
* Ontario Early Researcher Award, 2016--2021.{% if not compact and not select %}
* Bioinformatics.ca Bioinformatics Expert, 2014.{% endif %}
* *Genome Technology* Young Investigator, 2011.
{% if compact or select %}* {% if compact %}{{ nih }}{% else %}National Human Genome Research Institute{% endif %} K99/R00 Pathway to Independence Award, 2011--2013.
* National Science Foundation Graduate Research Fellow, 2003--2008.
* Marshall Scholar, 2003--2005.
{% else %}* Phi Beta Kappa Award of Distinction, 2003.
* Phi Beta Kappa Induction, 2003.
* Cambridge Overseas Trust Honorary Scholar, 2003.
* College of Liberal Arts Junior Fellow, 2000--2003.
* College of Natural Sciences Dean's Scholar, 1998--2003.
* College of Liberal Arts Plan II Honors Program (2% of university), 1998--2003.
* College of Natural Sciences College Scholar 2000, 2001, 2002, 2003.
{% endif %}

### Recognitions: other scholarships and awards

* Canadian Cancer Society Research Institute Junior Investigator Grant Panel Travel Award, 2014.
* Trinity College Moore, Beale Sargent and Mitchell Fund, 2005.
* The University of Texas at Austin Junior Fellows Research Grant, 2003.
* The University of Texas at Austin Undergraduate Research Fellowship, 1999--2000, 2000--2001, 2002--2003.
* Dedman Merit Scholarship, 1998--2002.
* Dorothy B. Banks Charitable Trust Scholarship, 1999--2000.
* IBM Thomas J. Watson Memorial Scholarship, 1998--2002.
* National Merit Scholarship, 1998--2002.
