\beginenumerate

X1.\ **Niu J**, **Denisko D**, **Hoffman MM**. ["The Browser Extensible Data (BED) format."](https://samtools.github.io/hts-specs/BEDv1.pdf) 2021. Global Alliance for Genomics and Health (GA4GH) Approved Standard.

\endenumerate
