### Trainees and staff supervised: current

{% if compact %}
\setlist*[enumerate]{leftmargin=\widthof{T99.}+0.5em}
{% endif %}

\beginenumerate
T46.\ **Agopian, Mary**. PhD Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, 2022--present. {# 2022-12-07--??? #}

T45.\ **Sera, Riddhi**. BTech Student, {% if not compact %}{{ dept }} of Bioscience {{ and }} Bioengineering, {% endif %}Indian Institute of Technology Jodhpur. 2022--present. {# 2022-05-09--present #}

T43.\ **Tan, Luomeng**. PhD Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, 2022--present. {% if not compact %}H{% endif %}BSc Student, {% if not compact %}{{ dept }}{% if not compact %}s{% endif %} of Cell {{ and }} System Biology{% if not compact %} {{ and }} Computer Science, {% endif %}{{ univ }} of Toronto. {% endif %}2021--2022. {# 2021-05-10--present #}

T42.\ **Yoo, Esther**. BASc Student, {% if not compact %}Division of Engineering Science, {% endif %}{{ univ }} of Toronto. 2020--present. {# 2020-05-11--present #}

T37.\ **Lu, Zhiyuan ("Annie")**. BSc Student, {% if not compact %}{{ dept }}{% if not compact %}s{% endif %} of Computer Science{% if not compact %} {{ and }} Statistical Sciences{% endif %}, {% endif %}{{ univ }} of Toronto. 2020--present. {# 2020-05-11--present #}

T35.\ **Huynh, Linh**. Postdoctoral Fellow, {{ uhn }}, 2020--2022.
{# ???--??? #}

T15.\ **Mendez, Mickaël**. PhD Student, {% if not compact %}{{ dept }} of Computer Science, {% endif %}{{ univ }} of Toronto, 2016--present.
{# 2016-01--present #}

T9.\ **Viner, Coby**. PhD Student, {% if not compact %}{{ dept }} of Computer Science, {% endif %}{{ univ }} of Toronto, 2016--present. MSc Student{% if not compact %}, {% if not compact %}{{ dept }} of Computer Science, {% endif %}{{ univ }} of Toronto{% endif %}, 2014--2016.
{# MSc: 2014-06-02--2016-01, PhD: 2016-01--present #}
{# MSc graduation: 2016-03-15 #}

T8.\ **Roberts, Eric**. Bioinformatics Programmer, {{ uhn }}, 2014--present.
\endenumerate

### Trainees and staff supervised: past

\beginenumerate

T44.\ **Alba, Veronica**. BSc Student, {% if not compact %}Campus Saint-Jean, {% endif %}{{ univ }} of Alberta. 2021--2022. {# 2021-05-31--2022-08-31 #}
{% call present_position() %}BSc Student, {% if not compact %}Campus Saint-Jean, {% endif %}{{ univ }} of Alberta, Edmonton, AB, Canada.{% endcall %}

T41.\ **Kaczmarek, Emily**. PhD Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, 2021.
{% call present_position() %}PhD Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, Toronto, ON, Canada.{% endcall %}

T40.\ **Gao, Yuan ("William")**. PhD Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, 2021.
{% call present_position() %}PhD Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, Toronto, ON, Canada.{% endcall %}

T39.\ **Li, Xing Hao ("Leo")**. BASc Student, {% if not compact %}Division of Engineering Science, {% endif %}{{ univ }} of Toronto. 2020--2022. {# 2020-05-11--2021-04-30 #}
{% call present_position() %}PhD Student, Division of Biology and Biological Engineering, Computation and Neural Systems, California Institute of Technology, Pasadena, CA, USA.

T38.\ **Gopalakrishnan, Aparna**. {% if not compact %}H{% endif %}BSc Student, {% if not compact %}{{ dept }}{% if not compact %}s{% endif %} of Computer Science{% if not compact %} {{ and }} Mathematics{% endif %}, {% endif %}{{ univ }} of Toronto. 2020--2022. {# 2020-05-11--2021-04-30 #}

T36.\ **Keshavarzian, Tina**. MSc Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, 2020. {# 2020-05-11--2020-08-28 #}
{% call present_position() %}PhD Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, Toronto, ON, Canada.{% endcall %}

T34.\ **Wrana, Michael**. BComp Student, {% if not compact %}{{ dept }} of Mathematics {{ and }} Statistics, {% endif %}Queen's {{ univ }}, 2019.
{% call present_position() %}PhD Student, {% if not compact %}Cheriton School of Computer Science, {% endif %}{{ univ }} of Waterloo {{ univ }}, Waterloo, ON.{% endcall %}
{# 2019-05-13--2019-08-29 #}

T33.\ **Liu, Yushan ("Ida")**. {% if not compact %}H{% endif %}BSc Student, {% if not compact %}{{ dept }}{% if not compact %}s{% endif %} of Mathematics{% if not compact %} {{ and }} Statistical Sciences{% endif %}, {% endif %}{{ univ }} of Toronto, 2019--2021.
{# 2019-05-13--2021-12-31 #}
{% call present_position() %}, Software Engineer, Boston, MA, USA.{% endcall %}

T32.\ **Reed, Siddharth**. BSc Student, {% if not compact %}{{ dept }} of Biology, {% endif %}McMaster {{ univ }}, 2019.
{% call present_position() %}MSc Student, {% if not compact %}{{ dept }} of Computational Biology, {% endif %}Carnegie Mellon {{ univ }}, USA.{% endcall %}
{# 2019-05-06--2019-12-18 #}

T31.\ **Niu, Yi Nian ("Jeffrey")**. {% if not compact %}H{% endif %}BSc Student, {% if not compact %}{{ dept }} of Computer Science, {% endif %}{{ univ }} of Toronto, 2019--2022.
{# 2019-05-06--2022-04-30 #}

T30.\ **Liu, Yufang ("Flora")**. BSc Student, {% if not compact %}{{ dept }} of Computer Science, {% endif %}{{ univ }} of Toronto, 2018.
{% call present_position() %}Software Developer, Google Cloud Industry Foundation, Waterloo, ON, Canada.{% endcall %}
{# 2018-05-07--2018-12-31 #}

T29.\ **McNeil, Matthew**. BSc Student, {% if not compact %}{{ dept }} of Biochemistry, {% endif %}{{ univ }} of Toronto, 2018--2019.
{% call present_position() %}PhD Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, Toronto, ON, Canada.{% endcall %}
{# 2018-04-30--2019-08-30 #}

T28.\ **Xu, Winnie**. BSc Student, {% if not compact %}{{ dept }} of Immunology, {% endif %}{{ univ }} of Toronto, 2018.
{% call present_position() %}Research Scientist Intern, Meta AI, New York, NY, USA.{% endcall %}
{# 2018-04-23--2018-08-31 #}

T27.\ **Wilson, Samantha**. Postdoctoral Fellow, {{ uhn }}, 2018--2022.
{% call present_position() %}Assistant Professor, {% if not compact %}{{ dept }} of Obstetrics and Gynecology, {% endif %}McMaster {{ univ }}, Hamilton, ON, Canada.{% endcall %}

T26.\ **Asenjo Ponce de León, Marc**. Bachelor's Student, {% if not compact %}Barcelona {% endif %}{% if not compact %}School of Informatics, {% endif %}Universitat Politècnica de Catalunya, 2018.
{% call present_position() %}NLP Data Scientist, IOMED Medical Solutions, Barcelona, Spain.{% endcall %}

T25.\ **Subasri, Vallijah**. MSc Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, 2017.
{% call present_position() %}Applied Machine Learning Intern, Vector Institute, Toronto, ON, Canada.{% endcall %}
{# 2017-09-07--sometime in 2017 #}

T24.\ **Cao, Chang**. BSc Student, {% if not compact %}{{ dept }} of Statistical Sciences, {% endif %}{{ univ }} of Toronto, 2017--2018.
{% call present_position() %}Manager, AML/ATF Models and Analytics, Scotiabank, Toronto, ON, Canada.{% endcall %}
{# 2017-05-08--2018-06-19 #}

T23.\ **Smith, Ian**. MSc Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, 2017.
{% call present_position() %}PhD Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, Toronto, ON, Canada.{% endcall %}
{# 2017-03-20-- #}

T22.\ **Schonbach, Maya**. MSc Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, 2016.
{% call present_position() %}Psychology Student, Interdisciplinary Center Herzliya, Herzliya, Israel.{% endcall %}
{# 2016-10-17-- #}

T21.\ **Houlahan, Katie**. MSc Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, 2016.
{% call present_position() %}Postdoctoral Fellow, Stanford {{ univ }}, Stanford, CA, USA.{% endcall %}
{# 2016-10-17-- #}

T20.\ **Hawley, James**. MSc Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, 2016.
{% call present_position() %}Computational Biologist, Roche, Toronto, ON, Canada.{% endcall %}

T19.\ **Nguyen, Francis**. MSc Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, 2016--2019.
{% call present_position() %}Web Developer, {{ uhn }}, Toronto, ON, Canada.{% endcall %}

T18.\ **Bi, Haixin ("Sarah")**. Post-BSc Summer Student, Princess Margaret Cancer Centre, 2016.
{% call present_position() %}PhD Student, Computational and Systems Biology Program, Massachusetts Institute of Technology, Cambridge, MA, USA.{% endcall %}

T17.\ **Denisko, Danielle**. MSc Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, 2017--2019. BSc Student, {% if not compact %}{{ dept }} of Physics, {% endif %}{{ univ }} of Toronto, 2016--2017.
{% call present_position() %}PhD Student, Bioinformatics and Integrative Genomics PhD Program, Harvard {{ univ }}, Boston, MA, USA.{% endcall %}
{# 2016-05-09--2019-11-29 #}

T16.\ **Chan, Rachel**. MSc Student, {% if not compact %}{{ dept }} of Computer Science, {% endif %}{{ univ }} of Toronto, 2018--2020. BASc Student, {% if not compact %}Science Co-op Program, {% endif %}{{ univ }} of British Columbia, 2016--2018.
{% call present_position() %}Computer Vision Engineer, DeepX, Tokyo, Japan.{% endcall %}
{# 2016-05-02--2020-06-30 #}

T14.\ **Madani Tonekaboni, S.\ Ali**. PhD Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto. 2015.
{% call present_position() %}Machine Learning Team Lead, Cyclica, Toronto, ON, Canada.{% endcall %}
{# 2015-09-10-- #}

T13.\ **Sood, Ankur Jai**. BESc {% if not compact %}(Honors) {% endif %}Student, {% if not compact %}Mechatronic Systems Engineering, {% endif %}{% if not compact %}{{ univ }} of Western Ontario{% else %}Western {{ univ }}{% endif %}. 2015--2019.
{% call present_position() %}Software Engineer, Lucid Motors, Newark, CA, USA.{% endcall %}
{# 2015-05-14-- #}

T12.\ **Zeng, Xing**. {% if not compact %}H{% endif %}BSc Student, {% if not compact %}Undergraduate Toronto Research Experience in Computer Science,{% endif %} {% if not compact %}{{ dept }} of Computer Science, {% endif %}{{ univ }} of Toronto. 2015--2016.
{% call present_position() %}Senior Software Engineer, Text IQ, Vancouver, BC, Canada.{% endcall %}
{# 2015-05-19-- #}

T11.\ **Karimzadeh, Mehran R.** PhD Student, {% if not compact %}{{ dept }} of Medical Biophysics, {% endif %}{{ univ }} of Toronto, 2015--2020.
{% call present_position() %}Postdoctoral Fellow, Vector Institute {{ and }} {{ univ }} of California, San Francisco, CA, USA.{% endcall %}
{# research assistant 2014-12-23--2016-08; PhD student 2016-09--??? #}

T10.\ **Chicco, Davide**. Postdoctoral Fellow, {{ uhn }}, 2014--2018.
{% call present_position() %}Research Associate, {{ univ }} of Toronto, Toronto, ON, Canada.{% endcall %}
{# 2014-09-08-- #}

T7.\ **Shaw, Adam J.** Student, Google Summer of Code, 2014.
{% call present_position() %}Software Engineer, Google, San Bruno, CA, USA.{% endcall %}

T6.\ **Petwe, Harshad S.** BS Student, {% if not compact %}{{ dept }} of Computer Science {{ and }} Engineering, {% endif %}{{ univ }} of Washington, 2012.

T5.\ **Ellenbogen, Paul**. BS Student, {% if not compact %}{{ dept }} of Computer Science {{ and }} Engineering, {% endif %}{{ univ }} of Washington, 2011--2013.
{% call present_position() %}PhD Student, {% if not compact %}{{ dept }} of Computer Science, {% endif %}Princeton {{ univ }}, Princeton, NJ, USA.{% endcall %}

T4.\ **Sahu, Avinash D.** MS Student, {% if not compact %}School of Communication {{ and }} Computer Science, {% endif %}École Polytechnic Fédérale de Lausanne, 2011.
{% call present_position() %}Postdoctoral Fellow, {% if not compact %}{{ dept }} of Computer Science, {% endif %}{{ univ }} of Maryland, College Park, MD, USA.{% endcall %}

T3.\ **Staples, Jeffrey**. PhD Student, {% if not compact %}{{ dept }} of Genome Sciences, {% endif %}{{ univ }} of Washington, 2011.
{% call present_position() %}Manager, Analysis R&D, Regeneron Pharmaceuticals, Tarrytown, NY, USA.{% endcall %}

T2.\ **Lemus Vergara, Tzitziki J.** PhD Student, {% if not compact %}{{ dept }} of Genome Sciences, {% endif %}{{ univ }} of Washington, 2009.
{% call present_position() %}Postdoctoral Fellow, {% if not compact %}{{ dept }} of Human Genetics {{ and }} Biological Chemistry, {% endif %}{{ univ }} of California, Los Angeles, CA, USA, 2016.{% endcall %}

T1.\ **Buske, Orion J.** BS {% if not compact %}(Honors) {% endif %}Student, {% if not compact %}{{ dept }} of Computer Science {{ and }} Engineering, {% endif %}{{ univ }} of Washington, 2009--2010.
{% call present_position() %}CEO, Gene42, Toronto, ON, Canada.{% endcall %}
\endenumerate
